{
  "info": {
    "title": "Raider.IO Developer API",
    "version": "0.62.5",
    "description": "Raider.IO provides detailed character and guild rankings for Raiding and Mythic+ content in World of Warcraft.\n\n**OpenAPI Specification**\n\nA machine-readable [OpenAPI 3.0 specification](/openapi.json) is available for generating client libraries or importing into tools such as Postman.\n\n**Rate Limiting**\n\nUnauthenticated requests are rate limited. Exceeding the limit will result in HTTP 429 responses carrying a `Retry-After` header (whole seconds to wait) plus `X-RateLimit-Limit`, `X-RateLimit-Remaining` and `X-RateLimit-Reset` (Unix timestamp, in seconds, of the next window). Honour `Retry-After` when backing off rather than retrying on a fixed interval. To unlock higher request rates, register your application at [raider.io/settings/apps](https://raider.io/settings/apps).\n\n**Attribution**\n\nPublic-facing applications that use data from this API must include a link back to [raider.io](https://raider.io). We'd appreciate hearing what you're building, so come share with us in Discord!\n\n**Acceptable Use**\n\nThis API is provided for community and personal use. You may not use it to build competing services, resell data, or engage in any activity that harms the Raider.IO platform or its users. Automated scraping beyond the published endpoints is prohibited. Raider.IO reserves the right to revoke API access at any time.\n\n**Disclaimer**\n\nData is sourced from Blizzard Entertainment's World of Warcraft API, our Live Tracking system, and community contributions. Raider.IO makes no guarantees regarding the completeness, accuracy, or timeliness of the data. This API is provided \"as is\" without warranty of any kind.\n\n**Commercial Use**\n\nFor commercial licensing or enterprise rate limits, please contact us below.\n\n**Support**\n\nIf you run into problems or have feedback, reach out on [Discord](https://discord.gg/raider) in the #api-discussions channel.",
    "contact": {
      "name": "Raider.IO",
      "email": "hello@raider.io",
      "url": "https://support.raider.io"
    }
  },
  "tags": [
    {
      "name": "general",
      "description": "General utility endpoints such as lockout period information."
    },
    {
      "name": "character",
      "description": "Character profiles including Mythic+ scores, raid progression, gear, and talents. Data is sourced from the Blizzard API and updated periodically."
    },
    {
      "name": "guild",
      "description": "Guild profiles, raid progression, and boss kill data. Data is sourced from the Blizzard API and updated periodically."
    },
    {
      "name": "raiding",
      "description": "Raid rankings, progression leaderboards, and boss kill data sourced from the Blizzard API."
    },
    {
      "name": "mythic_plus",
      "description": "Mythic+ leaderboards, dungeon runs, score tiers, and season cutoffs. Data is sourced from the Blizzard API and updated periodically."
    },
    {
      "name": "Live Tracking - Raiding",
      "description": "Real-time raiding data from the Raider.IO Desktop App. Includes boss pull tracking, raid compositions, gear snapshots, loot feeds, and Race to World First event feeds. These endpoints require that the guild or player uses the Raider.IO Desktop App to upload combat logs."
    },
    {
      "name": "Live Tracking - Mythic+",
      "description": "Real-time Mythic+ data from the Raider.IO Desktop App. Includes current dungeon tracking, spatial heatmaps (deaths, spell casts), and top route data. These endpoints require that the guild or player uses the Raider.IO Desktop App to upload combat logs."
    },
    {
      "name": "Live Tracking - General",
      "description": "Per-user combat log activity and cross-domain endpoints from the Raider.IO Desktop App. Includes character loadout snapshots, gear summaries, and Mythic+/raiding activity contribution logs."
    }
  ],
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "http://raider.io"
    }
  ],
  "components": {
    "schemas": {
      "Period": {
        "type": "object",
        "properties": {
          "period": {
            "type": "integer",
            "description": "Period ID",
            "example": 1000
          },
          "start": {
            "type": "string",
            "description": "Period start date (ISO 8601)"
          },
          "end": {
            "type": "string",
            "description": "Period end date (ISO 8601)"
          }
        },
        "required": [
          "period",
          "start",
          "end"
        ]
      },
      "RegionPeriod": {
        "type": "object",
        "properties": {
          "region": {
            "type": "string",
            "description": "Region slug",
            "example": "us"
          },
          "previous": {
            "$ref": "#/components/schemas/Period"
          },
          "current": {
            "$ref": "#/components/schemas/Period"
          },
          "next": {
            "$ref": "#/components/schemas/Period"
          }
        },
        "required": [
          "region",
          "previous",
          "current",
          "next"
        ]
      },
      "periods": {
        "type": "array",
        "description": "Period information for each region",
        "items": {
          "$ref": "#/components/schemas/RegionPeriod"
        },
        "properties": null
      },
      "ViewPeriodsResponse": {
        "type": "object",
        "properties": {
          "periods": {
            "$ref": "#/components/schemas/periods"
          }
        },
        "required": [
          "periods"
        ]
      },
      "Faction": {
        "type": "string",
        "example": "horde",
        "enum": [
          "horde",
          "alliance"
        ],
        "properties": null
      },
      "Region": {
        "type": "string",
        "example": "us",
        "enum": [
          "us",
          "eu",
          "tw",
          "kr",
          "cn"
        ],
        "x-convert": {
          "case": "lower",
          "trim": true
        },
        "properties": null
      },
      "CharacterGear": {
        "type": "object",
        "properties": {
          "item_level_equipped": {
            "type": "number",
            "description": "Character's equipped item level"
          },
          "item_level_total": {
            "type": "number",
            "description": "Character's total item level (in bags)"
          },
          "artifact_traits": {
            "type": "number",
            "description": "Character's artifact traits on equipped artifact weapon"
          }
        },
        "required": [
          "item_level_equipped",
          "item_level_total",
          "artifact_traits"
        ]
      },
      "RaidProgression": {
        "type": "object",
        "properties": {
          "summary": {
            "type": "string",
            "description": "Human readable summary of progression:",
            "example": "4/10 H"
          },
          "expansion_id": {
            "type": "integer",
            "description": "Expansion ID for this raid. Expansion ID. 11 = Midnight, 10 = TheWarWithin, 9 = Dragonflight, 8 = Shadowlands, 7 = BattleForAzeroth, 6 = Legion",
            "example": 11
          },
          "total_bosses": {
            "type": "integer",
            "description": "Number of bosses in instance",
            "example": 10,
            "minimum": 1
          },
          "normal_bosses_killed": {
            "type": "integer",
            "description": "Number of normal mode bosses killed",
            "minimum": 0
          },
          "heroic_bosses_killed": {
            "type": "integer",
            "description": "Number of heroic mode bosses killed",
            "example": 4,
            "minimum": 0
          },
          "mythic_bosses_killed": {
            "type": "integer",
            "description": "Number of mythic mode bosses killed",
            "minimum": 0
          }
        },
        "required": [
          "summary",
          "total_bosses",
          "normal_bosses_killed",
          "heroic_bosses_killed",
          "mythic_bosses_killed"
        ]
      },
      "OverallRaidProgression": {
        "type": "object",
        "properties": {
          "the-tidebound-grotto": {
            "$ref": "#/components/schemas/RaidProgression"
          },
          "the-venomous-abyss": {
            "$ref": "#/components/schemas/RaidProgression"
          },
          "sporefall": {
            "$ref": "#/components/schemas/RaidProgression"
          },
          "tier-mn-1": {
            "$ref": "#/components/schemas/RaidProgression"
          },
          "manaforge-omega": {
            "$ref": "#/components/schemas/RaidProgression"
          },
          "liberation-of-undermine": {
            "$ref": "#/components/schemas/RaidProgression"
          },
          "nerubar-palace": {
            "$ref": "#/components/schemas/RaidProgression"
          },
          "blackrock-depths": {
            "$ref": "#/components/schemas/RaidProgression"
          },
          "awakened-amirdrassil-the-dreams-hope": {
            "$ref": "#/components/schemas/RaidProgression"
          },
          "awakened-aberrus-the-shadowed-crucible": {
            "$ref": "#/components/schemas/RaidProgression"
          },
          "awakened-vault-of-the-incarnates": {
            "$ref": "#/components/schemas/RaidProgression"
          },
          "amirdrassil-the-dreams-hope": {
            "$ref": "#/components/schemas/RaidProgression"
          },
          "aberrus-the-shadowed-crucible": {
            "$ref": "#/components/schemas/RaidProgression"
          },
          "vault-of-the-incarnates": {
            "$ref": "#/components/schemas/RaidProgression"
          },
          "fated-sepulcher-of-the-first-ones": {
            "$ref": "#/components/schemas/RaidProgression"
          },
          "fated-sanctum-of-domination": {
            "$ref": "#/components/schemas/RaidProgression"
          },
          "fated-castle-nathria": {
            "$ref": "#/components/schemas/RaidProgression"
          },
          "sepulcher-of-the-first-ones": {
            "$ref": "#/components/schemas/RaidProgression"
          },
          "sanctum-of-domination": {
            "$ref": "#/components/schemas/RaidProgression"
          },
          "castle-nathria": {
            "$ref": "#/components/schemas/RaidProgression"
          },
          "nyalotha-the-waking-city": {
            "$ref": "#/components/schemas/RaidProgression"
          },
          "the-eternal-palace": {
            "$ref": "#/components/schemas/RaidProgression"
          },
          "crucible-of-storms": {
            "$ref": "#/components/schemas/RaidProgression"
          },
          "battle-of-dazaralor": {
            "$ref": "#/components/schemas/RaidProgression"
          },
          "uldir": {
            "$ref": "#/components/schemas/RaidProgression"
          },
          "antorus-the-burning-throne": {
            "$ref": "#/components/schemas/RaidProgression"
          },
          "tomb-of-sargeras": {
            "$ref": "#/components/schemas/RaidProgression"
          },
          "the-nighthold": {
            "$ref": "#/components/schemas/RaidProgression"
          },
          "trial-of-valor": {
            "$ref": "#/components/schemas/RaidProgression"
          },
          "the-emerald-nightmare": {
            "$ref": "#/components/schemas/RaidProgression"
          }
        }
      },
      "MythicPlusScores": {
        "type": "object",
        "properties": {
          "all": {
            "type": "number"
          },
          "dps": {
            "type": "number"
          },
          "healer": {
            "type": "number"
          },
          "tank": {
            "type": "number"
          },
          "spec_0": {
            "type": "number"
          },
          "spec_1": {
            "type": "number"
          },
          "spec_2": {
            "type": "number"
          },
          "spec_3": {
            "type": "number"
          }
        },
        "required": [
          "all",
          "dps",
          "healer",
          "tank",
          "spec_0",
          "spec_1",
          "spec_2",
          "spec_3"
        ]
      },
      "ScoreColorSegment": {
        "type": "object",
        "properties": {
          "score": {
            "type": "number"
          },
          "color": {
            "type": "string"
          }
        },
        "required": [
          "score",
          "color"
        ]
      },
      "MythicPlusSegments": {
        "type": "object",
        "properties": {
          "all": {
            "$ref": "#/components/schemas/ScoreColorSegment"
          },
          "dps": {
            "$ref": "#/components/schemas/ScoreColorSegment"
          },
          "healer": {
            "$ref": "#/components/schemas/ScoreColorSegment"
          },
          "tank": {
            "$ref": "#/components/schemas/ScoreColorSegment"
          },
          "spec_0": {
            "$ref": "#/components/schemas/ScoreColorSegment"
          },
          "spec_1": {
            "$ref": "#/components/schemas/ScoreColorSegment"
          },
          "spec_2": {
            "$ref": "#/components/schemas/ScoreColorSegment"
          },
          "spec_3": {
            "$ref": "#/components/schemas/ScoreColorSegment"
          }
        },
        "required": [
          "all",
          "dps",
          "healer",
          "tank",
          "spec_0",
          "spec_1",
          "spec_2",
          "spec_3"
        ]
      },
      "MythicPlusScoresBySeason": {
        "type": "object",
        "properties": {
          "season": {
            "type": "string"
          },
          "scores": {
            "$ref": "#/components/schemas/MythicPlusScores"
          },
          "segments": {
            "$ref": "#/components/schemas/MythicPlusSegments"
          }
        },
        "required": [
          "season",
          "scores",
          "segments"
        ]
      },
      "Ranks": {
        "type": "object",
        "properties": {
          "world": {
            "type": "integer",
            "description": "World rank",
            "example": 799
          },
          "region": {
            "type": "integer",
            "description": "Region rank",
            "example": 564
          },
          "realm": {
            "type": "integer",
            "description": "Realm rank",
            "example": 20
          }
        },
        "required": [
          "world",
          "region",
          "realm"
        ]
      },
      "MythicPlusRoleRanks": {
        "type": "object",
        "properties": {
          "overall": {
            "$ref": "#/components/schemas/Ranks"
          },
          "tank": {
            "$ref": "#/components/schemas/Ranks"
          },
          "healer": {
            "$ref": "#/components/schemas/Ranks"
          },
          "dps": {
            "$ref": "#/components/schemas/Ranks"
          },
          "class": {
            "$ref": "#/components/schemas/Ranks"
          },
          "class_tank": {
            "$ref": "#/components/schemas/Ranks"
          },
          "class_healer": {
            "$ref": "#/components/schemas/Ranks"
          },
          "class_dps": {
            "$ref": "#/components/schemas/Ranks"
          }
        },
        "required": [
          "overall",
          "tank",
          "healer",
          "dps",
          "class",
          "class_tank",
          "class_healer",
          "class_dps"
        ]
      },
      "Affix": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Affix ID",
            "example": 148
          },
          "name": {
            "type": "string",
            "description": "Name of the affix",
            "example": "Xal'atath's Bargain: Ascendant"
          },
          "description": {
            "type": "string",
            "description": "Description of the affix",
            "example": "While in combat, Xal'atath rains down orbs of cosmic energy that empower enemies or players."
          },
          "icon": {
            "type": "string",
            "description": "Icon file name for the affix",
            "example": "inv_nullstone_cosmicvoid"
          },
          "icon_url": {
            "type": "string",
            "description": "cdn URL to the wow icon for this affix",
            "example": "https://cdn.raiderio.net/images/wow/icons/large/inv_nullstone_cosmicvoid.jpg"
          },
          "wowhead_url": {
            "type": "string",
            "description": "Wowhead URL for the affix",
            "example": "https://wowhead.com/affix=148",
            "x-format": {
              "uri": true
            }
          }
        },
        "required": [
          "id",
          "name",
          "description",
          "icon",
          "icon_url",
          "wowhead_url"
        ]
      },
      "affixes": {
        "type": "array",
        "description": "List of affixes applied to this run",
        "items": {
          "$ref": "#/components/schemas/Affix"
        },
        "properties": null
      },
      "spec": {
        "type": "object",
        "description": "The specialization the character played during this run",
        "nullable": true,
        "properties": {
          "id": {
            "type": "number"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "role": {
            "type": "string"
          },
          "class_id": {
            "type": "integer"
          },
          "is_melee": {
            "type": "boolean"
          },
          "ordinal": {
            "type": "integer"
          },
          "patch": {
            "type": "string"
          }
        }
      },
      "role": {
        "type": "string",
        "description": "The role the character played during this run",
        "example": "tank",
        "enum": [
          "tank",
          "healer",
          "dps"
        ],
        "nullable": true,
        "properties": null
      },
      "KeystoneRun": {
        "type": "object",
        "properties": {
          "dungeon": {
            "type": "string",
            "description": "Friendly name of Dungeon",
            "example": "Mists of Tirna Scithe"
          },
          "short_name": {
            "type": "string",
            "description": "Shortened or abbreviated name of Dungeon",
            "example": "MISTS"
          },
          "mythic_level": {
            "type": "integer",
            "description": "Mythic+ Level of the run",
            "example": 10,
            "minimum": 2
          },
          "keystone_run_id": {
            "type": "integer",
            "description": "Unique ID of this run within the specific season",
            "example": 16196237
          },
          "completed_at": {
            "type": "string",
            "format": "date-time",
            "description": "When this run was completed",
            "example": "2024-09-22T03:02:51.000Z"
          },
          "clear_time_ms": {
            "type": "integer",
            "description": "How long it took to complete the dungeon, in milliseconds",
            "example": 1636548,
            "minimum": 1
          },
          "par_time_ms": {
            "type": "integer",
            "description": "The par time for the dungeon, in milliseconds",
            "example": 1800999,
            "minimum": 1
          },
          "num_keystone_upgrades": {
            "type": "integer",
            "description": "How many times the keystone used for this dungeon would have been upgraded after completion",
            "example": 2,
            "minimum": 0
          },
          "map_challenge_mode_id": {
            "type": "integer",
            "description": "The map challenge mode ID for the dungeon",
            "example": 375
          },
          "zone_id": {
            "type": "integer",
            "description": "The zone ID for the dungeon",
            "example": 13334
          },
          "zone_expansion_id": {
            "type": "integer",
            "description": "The static expansion id for this particular dungeon.",
            "example": 8
          },
          "icon_url": {
            "type": "string",
            "description": "URL to the wow icon for this dungeon",
            "example": "https://cdn.raiderio.net/images/wow/icons/large/achievement_dungeon_mistsoftirnascithe.jpg",
            "x-format": {
              "uri": true
            }
          },
          "background_image_url": {
            "type": "string",
            "description": "URL to the background image for this dungeon",
            "example": "https://cdn.raiderio.net/images/dungeons/expansion8/base/mists-of-tirna-scithe.jpg",
            "x-format": {
              "uri": true
            }
          },
          "score": {
            "type": "number",
            "description": "How many points this run was worth",
            "example": 326.6
          },
          "url": {
            "type": "string",
            "description": "URL to this specific run to view roster details",
            "example": "https://raider.io/mythic-plus-runs/season-tww-1/5376417-10-mists-of-tirna-scithe",
            "x-format": {
              "uri": true
            }
          },
          "affixes": {
            "$ref": "#/components/schemas/affixes"
          },
          "spec": {
            "$ref": "#/components/schemas/spec"
          },
          "role": {
            "$ref": "#/components/schemas/role"
          }
        },
        "required": [
          "dungeon",
          "short_name",
          "mythic_level",
          "keystone_run_id",
          "completed_at",
          "clear_time_ms",
          "par_time_ms",
          "num_keystone_upgrades",
          "map_challenge_mode_id",
          "zone_id",
          "zone_expansion_id",
          "icon_url",
          "background_image_url",
          "score",
          "url",
          "affixes",
          "spec",
          "role"
        ]
      },
      "KeystoneRunList": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/KeystoneRun"
        },
        "properties": null
      },
      "MythicPlusDungeonRunCounts": {
        "type": "object",
        "properties": {
          "zone_id": {
            "type": "integer",
            "description": "The zone ID for the dungeon (matches the zone_id on KeystoneRun entries)",
            "example": 13334
          },
          "dungeon": {
            "type": "string",
            "description": "Friendly name of Dungeon",
            "example": "Mists of Tirna Scithe"
          },
          "short_name": {
            "type": "string",
            "description": "Shortened or abbreviated name of Dungeon",
            "example": "MISTS"
          },
          "season_runs_total": {
            "type": "integer",
            "description": "How many runs of this dungeon the character completed in the season",
            "example": 17,
            "minimum": 0
          },
          "season_runs_timed": {
            "type": "integer",
            "description": "How many of those runs were completed within the timer",
            "example": 12,
            "minimum": 0
          }
        },
        "required": [
          "zone_id",
          "dungeon",
          "short_name",
          "season_runs_total",
          "season_runs_timed"
        ]
      },
      "MythicPlusDungeonRunCountsList": {
        "type": "array",
        "description": "The character's per-dungeon season run counts (total + timed), zero-filled across the season's dungeon pool",
        "items": {
          "$ref": "#/components/schemas/MythicPlusDungeonRunCounts"
        },
        "properties": null
      },
      "ViewCharacterProfileResponse": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of character",
            "example": "Ulsoga",
            "x-convert": {
              "trim": true
            }
          },
          "race": {
            "type": "string",
            "description": "Name of character's race",
            "example": "Orc"
          },
          "class": {
            "type": "string",
            "description": "Name of character's class",
            "example": "Warlock"
          },
          "active_spec_name": {
            "type": "string",
            "description": "Name of character's active spec",
            "example": "Affliction"
          },
          "active_spec_role": {
            "type": "string",
            "description": "Name of the role for character's active spec",
            "example": "DPS"
          },
          "gender": {
            "type": "string",
            "description": "Character's gender",
            "example": "female"
          },
          "faction": {
            "$ref": "#/components/schemas/Faction"
          },
          "achievement_points": {
            "type": "integer",
            "description": "Character's achievement points",
            "example": 23905
          },
          "thumbnail_url": {
            "type": "string",
            "description": "URL for blizzards character's thumbnail",
            "example": "https://render.worldofwarcraft.com/us/character/burning-blade/0/239444992-avatar.jpg?alt=/wow/static/images/2d/avatar/1-0.jpg"
          },
          "region": {
            "$ref": "#/components/schemas/Region"
          },
          "realm": {
            "type": "string",
            "description": "Realm character resides on",
            "example": "Skullcrusher"
          },
          "last_crawled_at": {
            "type": "string",
            "format": "date",
            "description": "When this character was last crawled",
            "example": "2024-10-09T04:31:20.000Z"
          },
          "profile_url": {
            "type": "string",
            "description": "URL for Character's profile on Raider.IO",
            "example": "https://raider.io/characters/us/skullcrusher/Ulsoga",
            "x-format": {
              "uri": true
            }
          },
          "profile_banner": {
            "type": "string",
            "description": "RaiderIO Character Banner Profile",
            "example": "classbanner_paladin1"
          },
          "use_animated_banner": {
            "type": "boolean",
            "description": "Animated Character Page Banner",
            "example": false
          },
          "gear": {
            "$ref": "#/components/schemas/CharacterGear"
          },
          "raid_progression": {
            "$ref": "#/components/schemas/OverallRaidProgression"
          },
          "mythic_plus_scores_by_season": {
            "$ref": "#/components/schemas/MythicPlusScoresBySeasonList"
          },
          "mythic_plus_ranks": {
            "$ref": "#/components/schemas/MythicPlusRoleRanks"
          },
          "previous_mythic_plus_ranks": {
            "$ref": "#/components/schemas/MythicPlusRoleRanks"
          },
          "mythic_plus_recent_runs": {
            "$ref": "#/components/schemas/KeystoneRunList"
          },
          "mythic_plus_best_runs": {
            "$ref": "#/components/schemas/KeystoneRunList"
          },
          "mythic_plus_alternate_runs": {
            "$ref": "#/components/schemas/KeystoneRunList"
          },
          "mythic_plus_dungeon_run_counts": {
            "$ref": "#/components/schemas/MythicPlusDungeonRunCountsList"
          }
        },
        "required": [
          "name",
          "race",
          "class",
          "active_spec_name",
          "active_spec_role",
          "gender",
          "faction",
          "achievement_points",
          "thumbnail_url",
          "region",
          "realm",
          "last_crawled_at",
          "profile_url",
          "profile_banner"
        ]
      },
      "scope": {
        "type": "string",
        "description": "Scope of the rivals leaderboard",
        "enum": [
          "realm",
          "region",
          "world"
        ],
        "properties": null
      },
      "CharacterRivalEntry": {
        "type": "object",
        "properties": {
          "rank": {
            "type": "integer",
            "description": "Leaderboard rank"
          },
          "name": {
            "type": "string",
            "description": "Character name"
          },
          "realm": {
            "type": "string",
            "description": "Character realm name"
          },
          "score": {
            "type": "number",
            "description": "Leaderboard score"
          },
          "isSelf": {
            "type": "boolean",
            "description": "Whether this entry is the requested character"
          }
        },
        "required": [
          "rank",
          "name",
          "realm",
          "score",
          "isSelf"
        ]
      },
      "entries": {
        "type": "array",
        "description": "Leaderboard entries around the character (self +/- 2)",
        "items": {
          "$ref": "#/components/schemas/CharacterRivalEntry"
        },
        "properties": null
      },
      "rivals": {
        "type": "object",
        "description": "Class (or spec) leaderboard window around the character, or null if unavailable",
        "nullable": true,
        "properties": {
          "scope": {
            "$ref": "#/components/schemas/scope"
          },
          "entries": {
            "$ref": "#/components/schemas/entries"
          }
        },
        "required": [
          "scope",
          "entries"
        ]
      },
      "CharacterRivalsResponse": {
        "type": "object",
        "properties": {
          "rivals": {
            "$ref": "#/components/schemas/rivals"
          }
        },
        "required": [
          "rivals"
        ]
      },
      "current": {
        "type": "object",
        "nullable": true,
        "properties": {
          "percentile": {
            "type": "number",
            "minimum": 0,
            "maximum": 100
          },
          "populationCount": {
            "type": "integer",
            "x-constraint": {
              "sign": "positive"
            }
          },
          "generatedAt": {
            "type": "string"
          }
        },
        "required": [
          "percentile",
          "populationCount",
          "generatedAt"
        ]
      },
      "historical": {
        "type": "object",
        "nullable": true,
        "properties": {
          "percentile": {
            "type": "number",
            "minimum": 0,
            "maximum": 100
          },
          "populationCount": {
            "type": "integer",
            "x-constraint": {
              "sign": "positive"
            }
          },
          "generatedAt": {
            "type": "string"
          },
          "period": {
            "type": "integer",
            "x-constraint": {
              "sign": "positive"
            }
          },
          "locked": {
            "type": "boolean"
          }
        },
        "required": [
          "percentile",
          "populationCount",
          "generatedAt",
          "period",
          "locked"
        ]
      },
      "itemLevel": {
        "type": "object",
        "nullable": true,
        "properties": {
          "average": {
            "type": "number",
            "x-constraint": {
              "sign": "positive"
            }
          },
          "min": {
            "type": "number"
          },
          "maxExclusive": {
            "type": "number",
            "x-constraint": {
              "greater": {
                "ref": {
                  "path": [
                    "min"
                  ]
                }
              }
            }
          },
          "current": {
            "$ref": "#/components/schemas/current"
          },
          "historical": {
            "$ref": "#/components/schemas/historical"
          }
        },
        "required": [
          "average",
          "min",
          "maxExclusive",
          "current",
          "historical"
        ]
      },
      "type": {
        "type": "string",
        "enum": [
          "world"
        ],
        "properties": null
      },
      "slug": {
        "type": "string",
        "enum": [
          "world"
        ],
        "properties": null
      },
      "scope1": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/type"
          },
          "id": {
            "type": "string",
            "nullable": true
          },
          "slug": {
            "$ref": "#/components/schemas/slug"
          }
        },
        "required": [
          "type",
          "id",
          "slug"
        ]
      },
      "world": {
        "type": "object",
        "properties": {
          "current": {
            "$ref": "#/components/schemas/current"
          },
          "historical": {
            "$ref": "#/components/schemas/historical"
          },
          "itemLevel": {
            "$ref": "#/components/schemas/itemLevel"
          },
          "scope": {
            "$ref": "#/components/schemas/scope1"
          }
        },
        "required": [
          "current",
          "historical",
          "itemLevel",
          "scope"
        ]
      },
      "type1": {
        "type": "string",
        "enum": [
          "region"
        ],
        "properties": null
      },
      "scope2": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/type1"
          },
          "id": {
            "type": "integer",
            "x-constraint": {
              "sign": "positive"
            }
          },
          "slug": {
            "type": "string"
          }
        },
        "required": [
          "type",
          "id",
          "slug"
        ]
      },
      "type2": {
        "type": "string",
        "enum": [
          "subregion"
        ],
        "properties": null
      },
      "scope3": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/type2"
          },
          "id": {
            "type": "integer",
            "x-constraint": {
              "sign": "positive"
            }
          },
          "slug": {
            "type": "string"
          }
        },
        "required": [
          "type",
          "id",
          "slug"
        ]
      },
      "Model1": {
        "type": "object",
        "properties": {
          "current": {
            "$ref": "#/components/schemas/current"
          },
          "historical": {
            "$ref": "#/components/schemas/historical"
          },
          "itemLevel": {
            "$ref": "#/components/schemas/itemLevel"
          },
          "scope": {
            "$ref": "#/components/schemas/scope3"
          }
        },
        "required": [
          "current",
          "historical",
          "itemLevel",
          "scope"
        ]
      },
      "subRegions": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Model1"
        },
        "properties": null
      },
      "scopes": {
        "type": "object",
        "properties": {
          "world": {
            "$ref": "#/components/schemas/world"
          },
          "region": {
            "$ref": "#/components/schemas/RegionScope"
          },
          "subRegions": {
            "$ref": "#/components/schemas/subRegions"
          }
        },
        "required": [
          "world",
          "region",
          "subRegions"
        ]
      },
      "keystonePace": {
        "type": "object",
        "description": "Worldwide aliases plus Current and Historical regular/item-level Pace standings for the run Region and SubRegions.",
        "nullable": true,
        "properties": {
          "current": {
            "$ref": "#/components/schemas/current"
          },
          "historical": {
            "$ref": "#/components/schemas/historical"
          },
          "itemLevel": {
            "$ref": "#/components/schemas/itemLevel"
          },
          "scopes": {
            "$ref": "#/components/schemas/scopes"
          }
        },
        "required": [
          "current",
          "historical",
          "itemLevel",
          "scopes"
        ]
      },
      "RunReviewPastRun": {
        "type": "object",
        "properties": {
          "completedAt": {
            "type": "string",
            "description": "ISO 8601 completion timestamp"
          },
          "keyLevel": {
            "type": "integer",
            "description": "Mythic keystone level of the run"
          },
          "clearTimeMs": {
            "type": "integer",
            "description": "Clear time in milliseconds"
          },
          "timed": {
            "type": "boolean",
            "description": "Whether the run beat the keystone timer"
          },
          "score": {
            "type": "number",
            "description": "Score of the run",
            "nullable": true
          }
        },
        "required": [
          "completedAt",
          "keyLevel",
          "clearTimeMs",
          "timed",
          "score"
        ]
      },
      "pastRuns": {
        "type": "array",
        "description": "The character's historical runs for this dungeon, most recent first, up to 12",
        "items": {
          "$ref": "#/components/schemas/RunReviewPastRun"
        },
        "properties": null
      },
      "RunReviewRivalEntry": {
        "type": "object",
        "properties": {
          "rank": {
            "type": "integer",
            "description": "Leaderboard rank"
          },
          "name": {
            "type": "string",
            "description": "Character name"
          },
          "realm": {
            "type": "string",
            "description": "Character realm name"
          },
          "score": {
            "type": "number",
            "description": "Leaderboard score"
          },
          "isSelf": {
            "type": "boolean",
            "description": "Whether this entry is the requested character"
          }
        },
        "required": [
          "rank",
          "name",
          "realm",
          "score",
          "isSelf"
        ]
      },
      "entries1": {
        "type": "array",
        "description": "Leaderboard entries around the character (self +/- 2)",
        "items": {
          "$ref": "#/components/schemas/RunReviewRivalEntry"
        },
        "properties": null
      },
      "rivals1": {
        "type": "object",
        "description": "Spec leaderboard window around the character, or null if unavailable",
        "nullable": true,
        "properties": {
          "scope": {
            "$ref": "#/components/schemas/scope"
          },
          "entries": {
            "$ref": "#/components/schemas/entries1"
          }
        },
        "required": [
          "scope",
          "entries"
        ]
      },
      "RunReviewResponse": {
        "type": "object",
        "properties": {
          "percentile": {
            "type": "number",
            "description": "Current Pace: worldwide percentile of this clear time within the latest published whole-season population for the dungeon and key level.",
            "nullable": true
          },
          "historicalPercentile": {
            "type": "number",
            "description": "Historical Pace: worldwide percentile of this clear time within the run's published weekly population; null when unavailable or too thin.",
            "nullable": true
          },
          "historicalLocked": {
            "type": "boolean",
            "description": "Whether the Historical Pace period is finalized in the active materialization."
          },
          "keystonePace": {
            "$ref": "#/components/schemas/keystonePace"
          },
          "runScore": {
            "type": "number",
            "description": "Run score derived from keyLevel, clearTimeMs, and the canonical or affix-adjusted dungeon timer",
            "nullable": true
          },
          "pastRuns": {
            "$ref": "#/components/schemas/pastRuns"
          },
          "rivals": {
            "$ref": "#/components/schemas/rivals1"
          }
        },
        "required": [
          "percentile",
          "historicalPercentile",
          "historicalLocked",
          "keystonePace",
          "runScore",
          "pastRuns",
          "rivals"
        ]
      },
      "BossKill": {
        "type": "object",
        "properties": {
          "pulledAt": {
            "type": "string",
            "description": "When the boss was pulled",
            "nullable": true,
            "x-format": {
              "isoDate": true
            }
          },
          "defeatedAt": {
            "type": "string",
            "description": "When the boss was defeated",
            "nullable": true,
            "x-format": {
              "isoDate": true
            }
          },
          "durationMs": {
            "type": "integer",
            "description": "Kill duration in milliseconds",
            "nullable": true
          },
          "isSuccess": {
            "type": "boolean",
            "description": "Whether the kill was successful"
          },
          "itemLevelEquippedAvg": {
            "type": "number",
            "description": "Average equipped item level of the raid"
          },
          "itemLevelEquippedMax": {
            "type": "number",
            "description": "Maximum equipped item level in the raid"
          },
          "itemLevelEquippedMin": {
            "type": "number",
            "description": "Minimum equipped item level in the raid"
          }
        }
      },
      "class": {
        "type": "object",
        "properties": {
          "id": {
            "type": "number"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          }
        }
      },
      "spec1": {
        "type": "object",
        "properties": {
          "id": {
            "type": "number"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "role": {
            "type": "string"
          },
          "class_id": {
            "type": "integer"
          },
          "is_melee": {
            "type": "boolean"
          },
          "ordinal": {
            "type": "integer"
          },
          "patch": {
            "type": "string"
          }
        }
      },
      "race": {
        "type": "object",
        "properties": {
          "id": {
            "type": "number"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "faction": {
            "type": "string"
          }
        }
      },
      "FullRealm": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "altName": {
            "type": "string",
            "nullable": true
          },
          "altSlug": {
            "type": "string"
          },
          "locale": {
            "type": "string"
          },
          "isConnected": {
            "type": "boolean"
          },
          "connectedRealmId": {
            "type": "integer"
          },
          "realmType": {
            "type": "string"
          },
          "wowRealmId": {
            "type": "integer"
          },
          "wowConnectedRealmId": {
            "type": "integer"
          }
        }
      },
      "RegionSummary": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the region",
            "example": "United States & Oceania"
          },
          "short_name": {
            "type": "string",
            "description": "Short name of the region",
            "example": "US"
          },
          "slug": {
            "type": "string",
            "description": "Slug for the region, suitable for putting in URLs",
            "example": "us"
          }
        },
        "required": [
          "name",
          "short_name",
          "slug"
        ]
      },
      "spells": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Spell"
        },
        "properties": null
      },
      "corruption": {
        "type": "object",
        "description": "Corruption stats",
        "properties": {
          "added": {
            "type": "number"
          },
          "resisted": {
            "type": "number"
          },
          "total": {
            "type": "number"
          },
          "cloakRank": {
            "type": "integer"
          },
          "spells": {
            "$ref": "#/components/schemas/spells"
          }
        }
      },
      "items": {
        "type": "object",
        "description": "Map of slot name to equipped item",
        "properties": {
          "head": {
            "$ref": "#/components/schemas/EquippedItem"
          },
          "neck": {
            "$ref": "#/components/schemas/EquippedItem"
          },
          "shoulder": {
            "$ref": "#/components/schemas/EquippedItem"
          },
          "back": {
            "$ref": "#/components/schemas/EquippedItem"
          },
          "chest": {
            "$ref": "#/components/schemas/EquippedItem"
          },
          "waist": {
            "$ref": "#/components/schemas/EquippedItem"
          },
          "wrist": {
            "$ref": "#/components/schemas/EquippedItem"
          },
          "hands": {
            "$ref": "#/components/schemas/EquippedItem"
          },
          "legs": {
            "$ref": "#/components/schemas/EquippedItem"
          },
          "feet": {
            "$ref": "#/components/schemas/EquippedItem"
          },
          "finger1": {
            "$ref": "#/components/schemas/EquippedItem"
          },
          "finger2": {
            "$ref": "#/components/schemas/EquippedItem"
          },
          "trinket1": {
            "$ref": "#/components/schemas/EquippedItem"
          },
          "trinket2": {
            "$ref": "#/components/schemas/EquippedItem"
          },
          "mainhand": {
            "$ref": "#/components/schemas/EquippedItem"
          },
          "offhand": {
            "$ref": "#/components/schemas/EquippedItem"
          }
        }
      },
      "ItemsContainer": {
        "type": "object",
        "description": "Equipped gear details",
        "properties": {
          "created_at": {
            "type": "string",
            "nullable": true,
            "x-format": {
              "isoDate": true
            }
          },
          "updated_at": {
            "type": "string",
            "nullable": true,
            "x-format": {
              "isoDate": true
            }
          },
          "source": {
            "type": "string"
          },
          "item_level_equipped": {
            "type": "number",
            "description": "Equipped item level"
          },
          "item_level_total": {
            "type": "number"
          },
          "artifact_traits": {
            "type": "number"
          },
          "corruption": {
            "$ref": "#/components/schemas/corruption"
          },
          "items": {
            "$ref": "#/components/schemas/items"
          }
        }
      },
      "TalentSpell": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "icon": {
            "type": "string"
          },
          "school": {
            "type": "integer"
          },
          "rank": {
            "type": "string",
            "nullable": true
          },
          "hasCooldown": {
            "type": "boolean"
          }
        }
      },
      "TalentEntry": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "traitDefinitionId": {
            "type": "integer"
          },
          "traitSubTreeId": {
            "type": "integer"
          },
          "type": {
            "type": "integer"
          },
          "maxRanks": {
            "type": "integer"
          },
          "spell": {
            "$ref": "#/components/schemas/TalentSpell"
          }
        }
      },
      "entries2": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/TalentEntry"
        },
        "properties": null
      },
      "TalentNode": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "treeId": {
            "type": "integer"
          },
          "subTreeId": {
            "type": "integer"
          },
          "type": {
            "type": "integer"
          },
          "entries": {
            "$ref": "#/components/schemas/entries2"
          },
          "important": {
            "type": "boolean"
          },
          "posX": {
            "type": "integer"
          },
          "posY": {
            "type": "integer"
          },
          "row": {
            "type": "integer"
          },
          "col": {
            "type": "integer"
          }
        }
      },
      "TalentLoadoutNode": {
        "type": "object",
        "properties": {
          "node": {
            "$ref": "#/components/schemas/TalentNode"
          },
          "entryIndex": {
            "type": "integer"
          },
          "rank": {
            "type": "integer"
          },
          "grantedNode": {
            "type": "boolean"
          }
        }
      },
      "loadout": {
        "type": "array",
        "description": "Talent node selections",
        "items": {
          "$ref": "#/components/schemas/TalentLoadoutNode"
        },
        "properties": null
      },
      "TalentLoadout": {
        "type": "object",
        "description": "Active talent loadout",
        "nullable": true,
        "properties": {
          "specId": {
            "type": "integer",
            "description": "Spec ID for this loadout"
          },
          "heroSubTreeId": {
            "type": "integer",
            "nullable": true
          },
          "loadout": {
            "$ref": "#/components/schemas/loadout"
          },
          "loadoutText": {
            "type": "string",
            "description": "Encoded talent loadout string",
            "nullable": true
          }
        }
      },
      "Spell": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "icon": {
            "type": "string"
          },
          "school": {
            "type": "integer"
          },
          "rank": {
            "type": "string",
            "nullable": true
          },
          "hasCooldown": {
            "type": "boolean"
          }
        }
      },
      "interestingAuras": {
        "type": "array",
        "description": "Notable active auras",
        "items": {
          "$ref": "#/components/schemas/Spell"
        },
        "properties": null
      },
      "RecruitmentProfile": {
        "type": "object",
        "properties": {
          "activity_type": {
            "type": "string",
            "description": "Type of recruitment activity (e.g. guild_raids)"
          },
          "entity_type": {
            "type": "string",
            "description": "Entity type (e.g. guild)"
          },
          "recruitment_profile_id": {
            "type": "integer",
            "description": "Recruitment profile ID"
          }
        }
      },
      "recruitmentProfiles": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/RecruitmentProfile"
        },
        "properties": null
      },
      "character": {
        "type": "object",
        "description": "Character details",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Character ID"
          },
          "name": {
            "type": "string",
            "description": "Character name"
          },
          "class": {
            "$ref": "#/components/schemas/class"
          },
          "spec": {
            "$ref": "#/components/schemas/spec1"
          },
          "race": {
            "$ref": "#/components/schemas/race"
          },
          "realm": {
            "$ref": "#/components/schemas/FullRealm"
          },
          "region": {
            "$ref": "#/components/schemas/RegionSummary"
          },
          "faction": {
            "type": "string"
          },
          "level": {
            "type": "integer"
          },
          "gender": {
            "type": "string"
          },
          "thumbnail": {
            "type": "string",
            "nullable": true
          },
          "itemLevelEquipped": {
            "type": "number",
            "description": "Equipped item level"
          },
          "artifactTraits": {
            "type": "number"
          },
          "items": {
            "$ref": "#/components/schemas/ItemsContainer"
          },
          "talentLoadout": {
            "$ref": "#/components/schemas/TalentLoadout"
          },
          "interestingAuras": {
            "$ref": "#/components/schemas/interestingAuras"
          },
          "recruitmentProfiles": {
            "$ref": "#/components/schemas/recruitmentProfiles"
          }
        }
      },
      "BossKillRosterMember": {
        "type": "object",
        "properties": {
          "character": {
            "$ref": "#/components/schemas/character"
          },
          "vantus": {
            "type": "boolean",
            "description": "Whether Vantus Rune was active"
          }
        }
      },
      "roster": {
        "type": "array",
        "description": "Roster of characters in the kill",
        "items": {
          "$ref": "#/components/schemas/BossKillRosterMember"
        },
        "properties": null
      },
      "ViewGuildBossKillResponse": {
        "type": "object",
        "properties": {
          "kill": {
            "$ref": "#/components/schemas/BossKill"
          },
          "roster": {
            "$ref": "#/components/schemas/roster"
          }
        }
      },
      "RaidDifficultyRankings": {
        "type": "object",
        "properties": {
          "normal": {
            "$ref": "#/components/schemas/Ranks"
          },
          "heroic": {
            "$ref": "#/components/schemas/Ranks"
          },
          "mythic": {
            "$ref": "#/components/schemas/Ranks"
          }
        }
      },
      "RaidRankings": {
        "type": "object",
        "properties": {
          "the-tidebound-grotto": {
            "$ref": "#/components/schemas/RaidDifficultyRankings"
          },
          "the-venomous-abyss": {
            "$ref": "#/components/schemas/RaidDifficultyRankings"
          },
          "sporefall": {
            "$ref": "#/components/schemas/RaidDifficultyRankings"
          },
          "tier-mn-1": {
            "$ref": "#/components/schemas/RaidDifficultyRankings"
          },
          "manaforge-omega": {
            "$ref": "#/components/schemas/RaidDifficultyRankings"
          },
          "liberation-of-undermine": {
            "$ref": "#/components/schemas/RaidDifficultyRankings"
          },
          "nerubar-palace": {
            "$ref": "#/components/schemas/RaidDifficultyRankings"
          },
          "blackrock-depths": {
            "$ref": "#/components/schemas/RaidDifficultyRankings"
          },
          "awakened-amirdrassil-the-dreams-hope": {
            "$ref": "#/components/schemas/RaidDifficultyRankings"
          },
          "awakened-aberrus-the-shadowed-crucible": {
            "$ref": "#/components/schemas/RaidDifficultyRankings"
          },
          "awakened-vault-of-the-incarnates": {
            "$ref": "#/components/schemas/RaidDifficultyRankings"
          },
          "amirdrassil-the-dreams-hope": {
            "$ref": "#/components/schemas/RaidDifficultyRankings"
          },
          "aberrus-the-shadowed-crucible": {
            "$ref": "#/components/schemas/RaidDifficultyRankings"
          },
          "vault-of-the-incarnates": {
            "$ref": "#/components/schemas/RaidDifficultyRankings"
          },
          "fated-sepulcher-of-the-first-ones": {
            "$ref": "#/components/schemas/RaidDifficultyRankings"
          },
          "fated-sanctum-of-domination": {
            "$ref": "#/components/schemas/RaidDifficultyRankings"
          },
          "fated-castle-nathria": {
            "$ref": "#/components/schemas/RaidDifficultyRankings"
          },
          "sepulcher-of-the-first-ones": {
            "$ref": "#/components/schemas/RaidDifficultyRankings"
          },
          "sanctum-of-domination": {
            "$ref": "#/components/schemas/RaidDifficultyRankings"
          },
          "castle-nathria": {
            "$ref": "#/components/schemas/RaidDifficultyRankings"
          },
          "nyalotha-the-waking-city": {
            "$ref": "#/components/schemas/RaidDifficultyRankings"
          },
          "the-eternal-palace": {
            "$ref": "#/components/schemas/RaidDifficultyRankings"
          },
          "crucible-of-storms": {
            "$ref": "#/components/schemas/RaidDifficultyRankings"
          },
          "battle-of-dazaralor": {
            "$ref": "#/components/schemas/RaidDifficultyRankings"
          },
          "uldir": {
            "$ref": "#/components/schemas/RaidDifficultyRankings"
          },
          "antorus-the-burning-throne": {
            "$ref": "#/components/schemas/RaidDifficultyRankings"
          },
          "tomb-of-sargeras": {
            "$ref": "#/components/schemas/RaidDifficultyRankings"
          },
          "the-nighthold": {
            "$ref": "#/components/schemas/RaidDifficultyRankings"
          },
          "trial-of-valor": {
            "$ref": "#/components/schemas/RaidDifficultyRankings"
          },
          "the-emerald-nightmare": {
            "$ref": "#/components/schemas/RaidDifficultyRankings"
          }
        }
      },
      "ViewGuildProfileResponse": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of guild",
            "example": "Ludicrous Speed"
          },
          "faction": {
            "$ref": "#/components/schemas/Faction"
          },
          "region": {
            "$ref": "#/components/schemas/Region"
          },
          "realm": {
            "type": "string",
            "description": "Realm guild resides on",
            "example": "Skullcrusher"
          },
          "profile_url": {
            "type": "string",
            "description": "URL for Guild's profile on Raider.IO",
            "example": "https://raider.io/guilds/us/skullcrusher/Ludicrous%20Speed",
            "x-format": {
              "uri": true
            }
          },
          "raid_rankings": {
            "$ref": "#/components/schemas/RaidRankings"
          },
          "raid_progression": {
            "$ref": "#/components/schemas/OverallRaidProgression"
          }
        },
        "required": [
          "name",
          "faction",
          "region",
          "realm",
          "profile_url"
        ]
      },
      "AffixDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "number",
            "description": "Blizzard's ID for this affix",
            "example": 7
          },
          "name": {
            "type": "string",
            "description": "Friendly name for this affix",
            "example": "Bolstering"
          },
          "description": {
            "type": "string",
            "description": "Description of the effects of this affix",
            "example": "When any non-boss enemy dies, its death cry empowers nearby allies, increasing their maximum health and damage by 20%."
          },
          "wowhead_url": {
            "type": "string",
            "description": "URL to open details on this affix on Wowhead",
            "example": "https://wowhead.com/affix=7",
            "x-format": {
              "uri": true
            }
          },
          "icon": {
            "type": "string",
            "description": "Blizzard's Icon for this affix",
            "example": "inv_misc_volatilewater"
          },
          "icon_url": {
            "type": "string",
            "description": "URL to the icon for this affix",
            "example": "https://cdn.raiderio.net/images/wow/icons/large/inv_misc_volatilewater.jpg"
          }
        },
        "required": [
          "id",
          "name",
          "description",
          "wowhead_url"
        ]
      },
      "affix_details": {
        "type": "array",
        "description": "List of details for each active affix",
        "items": {
          "$ref": "#/components/schemas/AffixDetail"
        },
        "properties": null
      },
      "ViewRegionAffixesResponse": {
        "type": "object",
        "properties": {
          "region": {
            "$ref": "#/components/schemas/Region"
          },
          "title": {
            "type": "string",
            "description": "Human readable title for the current affixes",
            "example": "Bolstering, Grievous, Tyrannical"
          },
          "leaderboard_url": {
            "type": "string",
            "example": "https://raider.io/mythic-plus-affix-rankings/all/kr/leaderboards-strict/bolstering-grievous-tyrannical",
            "x-format": {
              "uri": true
            }
          },
          "recent_run": {
            "$ref": "#/components/schemas/KeystoneRun"
          },
          "affix_details": {
            "$ref": "#/components/schemas/affix_details"
          }
        },
        "required": [
          "region",
          "title",
          "leaderboard_url",
          "affix_details"
        ]
      },
      "LocalizedString": {
        "type": "object",
        "description": "Localized affix names",
        "properties": {
          "en": {
            "type": "string"
          },
          "ru": {
            "type": "string"
          },
          "ko": {
            "type": "string"
          },
          "cn": {
            "type": "string"
          },
          "pt": {
            "type": "string"
          },
          "it": {
            "type": "string"
          },
          "fr": {
            "type": "string"
          },
          "es": {
            "type": "string"
          },
          "de": {
            "type": "string"
          },
          "tw": {
            "type": "string"
          }
        }
      },
      "LocalizedString1": {
        "type": "object",
        "description": "Localized affix descriptions",
        "properties": {
          "en": {
            "type": "string"
          },
          "ru": {
            "type": "string"
          },
          "ko": {
            "type": "string"
          },
          "cn": {
            "type": "string"
          },
          "pt": {
            "type": "string"
          },
          "it": {
            "type": "string"
          },
          "fr": {
            "type": "string"
          },
          "es": {
            "type": "string"
          },
          "de": {
            "type": "string"
          },
          "tw": {
            "type": "string"
          }
        }
      },
      "LeaderboardAffix": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "$ref": "#/components/schemas/LocalizedString"
          },
          "description": {
            "$ref": "#/components/schemas/LocalizedString1"
          },
          "slug": {
            "type": "string"
          },
          "icon": {
            "type": "string"
          }
        }
      },
      "affixes1": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/LeaderboardAffix"
        },
        "properties": null
      },
      "ConnectedRealm": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "altName": {
            "type": "string",
            "nullable": true
          },
          "altSlug": {
            "type": "string"
          },
          "locale": {
            "type": "string"
          },
          "isConnected": {
            "type": "boolean"
          },
          "connectedRealmId": {
            "type": "integer"
          },
          "realmType": {
            "type": "string"
          },
          "wowRealmId": {
            "type": "integer"
          },
          "wowConnectedRealmId": {
            "type": "integer"
          }
        }
      },
      "connectedRealms": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/ConnectedRealm"
        },
        "properties": null
      },
      "group_finder_activity_ids": {
        "type": "array",
        "items": {
          "type": "integer"
        },
        "properties": null
      },
      "LeaderboardDungeon": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "short_name": {
            "type": "string"
          },
          "expansion_id": {
            "type": "integer"
          },
          "icon_url": {
            "type": "string"
          },
          "keystone_timer_ms": {
            "type": "integer"
          },
          "map_challenge_mode_id": {
            "type": "integer"
          },
          "num_bosses": {
            "type": "integer"
          },
          "patch": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "wowInstanceId": {
            "type": "integer"
          },
          "group_finder_activity_ids": {
            "$ref": "#/components/schemas/group_finder_activity_ids"
          }
        }
      },
      "LeaderboardLowest": {
        "type": "object",
        "nullable": true,
        "properties": {
          "rank": {
            "type": "integer"
          },
          "mythicLevel": {
            "type": "integer"
          },
          "timeInMilliseconds": {
            "type": "integer"
          }
        }
      },
      "RealmDungeonCapacity": {
        "type": "object",
        "properties": {
          "dungeon": {
            "$ref": "#/components/schemas/LeaderboardDungeon"
          },
          "lowest": {
            "$ref": "#/components/schemas/LeaderboardLowest"
          }
        }
      },
      "dungeons": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/RealmDungeonCapacity"
        },
        "properties": null
      },
      "RealmCapacityEntry": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "connectedRealms": {
            "$ref": "#/components/schemas/connectedRealms"
          },
          "dungeons": {
            "$ref": "#/components/schemas/dungeons"
          }
        }
      },
      "realms": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/RealmCapacityEntry"
        },
        "properties": null
      },
      "RealmListing": {
        "type": "object",
        "properties": {
          "region": {
            "$ref": "#/components/schemas/RegionSummary"
          },
          "affixes": {
            "$ref": "#/components/schemas/affixes1"
          },
          "realms": {
            "$ref": "#/components/schemas/realms"
          }
        }
      },
      "ViewLeaderboardCapacityResponse": {
        "type": "object",
        "properties": {
          "realmListing": {
            "$ref": "#/components/schemas/RealmListing"
          }
        }
      },
      "RunDetailDungeon": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "short_name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "expansion_id": {
            "type": "integer"
          },
          "icon_url": {
            "type": "string"
          },
          "keystone_timer_ms": {
            "type": "integer"
          },
          "num_bosses": {
            "type": "integer"
          },
          "map_challenge_mode_id": {
            "type": "integer"
          },
          "patch": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "wowInstanceId": {
            "type": "integer"
          },
          "group_finder_activity_ids": {
            "$ref": "#/components/schemas/group_finder_activity_ids"
          }
        }
      },
      "RunModifier": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "icon": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          }
        }
      },
      "weekly_modifiers": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/RunModifier"
        },
        "properties": null
      },
      "logged_details": {
        "type": "object",
        "description": "Logged combat details including per-boss breakdowns, if available",
        "nullable": true,
        "properties": null
      },
      "LoggedSource": {
        "type": "object",
        "properties": {
          "source": {
            "type": "string",
            "description": "Log source identifier"
          },
          "logId": {
            "type": "string",
            "description": "Log ID",
            "nullable": true
          }
        }
      },
      "loggedSources": {
        "type": "array",
        "description": "Sources of logged data",
        "items": {
          "$ref": "#/components/schemas/LoggedSource"
        },
        "properties": null
      },
      "Video": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Video platform (e.g. youtube)"
          },
          "id": {
            "type": "string",
            "description": "Platform-specific video ID"
          }
        }
      },
      "videos": {
        "type": "array",
        "description": "Associated video recordings",
        "items": {
          "$ref": "#/components/schemas/Video"
        },
        "properties": null
      },
      "spec2": {
        "type": "object",
        "properties": {
          "id": {
            "type": "number"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "role": {
            "type": "string"
          },
          "class_id": {
            "type": "integer"
          },
          "is_melee": {
            "type": "boolean"
          },
          "ordinal": {
            "type": "integer"
          },
          "patch": {
            "type": "string"
          }
        }
      },
      "community_ids": {
        "type": "array",
        "items": {
          "type": "string"
        },
        "properties": null
      },
      "Stream": {
        "type": "object",
        "description": "Active stream info",
        "nullable": true,
        "properties": {
          "is_featured_stream": {
            "type": "boolean"
          },
          "activity_record_id": {
            "type": "integer"
          },
          "id": {
            "type": "string",
            "description": "Stream ID"
          },
          "name": {
            "type": "string",
            "description": "Streamer username"
          },
          "user_id": {
            "type": "string"
          },
          "game_id": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "description": "Stream status (e.g. live)"
          },
          "title": {
            "type": "string"
          },
          "community_ids": {
            "$ref": "#/components/schemas/community_ids"
          },
          "viewer_count": {
            "type": "integer"
          },
          "started_at": {
            "type": "string",
            "x-format": {
              "isoDate": true
            }
          },
          "language": {
            "type": "string"
          },
          "thumbnail_url": {
            "type": "string"
          }
        }
      },
      "TalentLoadout1": {
        "type": "object",
        "description": "Character talent loadout",
        "nullable": true,
        "properties": {
          "specId": {
            "type": "integer",
            "description": "Spec ID for this loadout"
          },
          "heroSubTreeId": {
            "type": "integer",
            "nullable": true
          },
          "loadout": {
            "$ref": "#/components/schemas/loadout"
          },
          "loadoutText": {
            "type": "string",
            "description": "Encoded talent loadout string",
            "nullable": true
          }
        }
      },
      "flags": {
        "type": "object",
        "description": "Character flags",
        "nullable": true,
        "properties": null
      },
      "character1": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "persona_id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "class": {
            "$ref": "#/components/schemas/class"
          },
          "spec": {
            "$ref": "#/components/schemas/spec2"
          },
          "race": {
            "$ref": "#/components/schemas/race"
          },
          "realm": {
            "$ref": "#/components/schemas/FullRealm"
          },
          "region": {
            "$ref": "#/components/schemas/RegionSummary"
          },
          "faction": {
            "type": "string"
          },
          "level": {
            "type": "integer"
          },
          "path": {
            "type": "string",
            "description": "URL path to character profile"
          },
          "stream": {
            "$ref": "#/components/schemas/Stream"
          },
          "recruitmentProfiles": {
            "$ref": "#/components/schemas/recruitmentProfiles"
          },
          "talentLoadout": {
            "$ref": "#/components/schemas/TalentLoadout1"
          },
          "flags": {
            "$ref": "#/components/schemas/flags"
          }
        }
      },
      "RosterGuild": {
        "type": "object",
        "description": "Guild info for this roster member",
        "nullable": true,
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "displayName": {
            "type": "string"
          },
          "faction": {
            "type": "string"
          },
          "realm": {
            "$ref": "#/components/schemas/FullRealm"
          },
          "region": {
            "$ref": "#/components/schemas/RegionSummary"
          },
          "path": {
            "type": "string"
          },
          "logo": {
            "type": "string",
            "nullable": true
          },
          "color": {
            "type": "string"
          },
          "isDefaultLogo": {
            "type": "boolean"
          }
        }
      },
      "ItemsContainer1": {
        "type": "object",
        "description": "Equipped items",
        "nullable": true,
        "properties": {
          "created_at": {
            "type": "string",
            "nullable": true,
            "x-format": {
              "isoDate": true
            }
          },
          "updated_at": {
            "type": "string",
            "nullable": true,
            "x-format": {
              "isoDate": true
            }
          },
          "source": {
            "type": "string"
          },
          "item_level_equipped": {
            "type": "number",
            "description": "Equipped item level"
          },
          "item_level_total": {
            "type": "number"
          },
          "artifact_traits": {
            "type": "number"
          },
          "corruption": {
            "$ref": "#/components/schemas/corruption"
          },
          "items": {
            "$ref": "#/components/schemas/items"
          }
        }
      },
      "MythicPlusRanks": {
        "type": "object",
        "description": "M+ ranks",
        "nullable": true,
        "properties": {
          "score": {
            "type": "number",
            "description": "M+ score"
          },
          "world": {
            "type": "integer",
            "description": "World rank"
          },
          "region": {
            "type": "integer",
            "description": "Region rank"
          },
          "realm": {
            "type": "integer",
            "description": "Realm rank"
          }
        }
      },
      "oldCharacter": {
        "type": "object",
        "description": "Previous character info if transferred",
        "nullable": true,
        "properties": null
      },
      "RunRosterMember": {
        "type": "object",
        "properties": {
          "character": {
            "$ref": "#/components/schemas/character1"
          },
          "role": {
            "type": "string",
            "description": "Role in the group (tank, healer, dps)"
          },
          "guild": {
            "$ref": "#/components/schemas/RosterGuild"
          },
          "items": {
            "$ref": "#/components/schemas/ItemsContainer1"
          },
          "ranks": {
            "$ref": "#/components/schemas/MythicPlusRanks"
          },
          "oldCharacter": {
            "$ref": "#/components/schemas/oldCharacter"
          },
          "isTransfer": {
            "type": "boolean"
          },
          "isBanned": {
            "type": "boolean"
          }
        }
      },
      "roster1": {
        "type": "array",
        "description": "Run roster",
        "items": {
          "$ref": "#/components/schemas/RunRosterMember"
        },
        "properties": null
      },
      "ViewMythicPlusRunDetailsResponse": {
        "type": "object",
        "properties": {
          "season": {
            "type": "string",
            "description": "Season slug"
          },
          "status": {
            "type": "string",
            "description": "Run status"
          },
          "dungeon": {
            "$ref": "#/components/schemas/RunDetailDungeon"
          },
          "keystone_run_id": {
            "type": "integer"
          },
          "mythic_level": {
            "type": "integer"
          },
          "clear_time_ms": {
            "type": "integer"
          },
          "keystone_time_ms": {
            "type": "integer"
          },
          "completed_at": {
            "type": "string",
            "x-format": {
              "isoDate": true
            }
          },
          "deleted_at": {
            "type": "string",
            "nullable": true,
            "x-format": {
              "isoDate": true
            }
          },
          "num_chests": {
            "type": "integer"
          },
          "time_remaining_ms": {
            "type": "integer"
          },
          "score": {
            "type": "number"
          },
          "faction": {
            "type": "string"
          },
          "weekly_modifiers": {
            "$ref": "#/components/schemas/weekly_modifiers"
          },
          "num_modifiers_active": {
            "type": "integer"
          },
          "logged_run_id": {
            "type": "integer",
            "nullable": true
          },
          "logged_details": {
            "$ref": "#/components/schemas/logged_details"
          },
          "loggedSources": {
            "$ref": "#/components/schemas/loggedSources"
          },
          "keystone_team_id": {
            "type": "integer",
            "nullable": true
          },
          "keystone_platoon_id": {
            "type": "integer",
            "nullable": true
          },
          "videos": {
            "$ref": "#/components/schemas/videos"
          },
          "roster": {
            "$ref": "#/components/schemas/roster1"
          },
          "runPrivacyMode": {
            "type": "string",
            "description": "Privacy mode for the run"
          },
          "replay_limit": {
            "type": "integer"
          },
          "isPatron": {
            "type": "boolean"
          },
          "isTournamentProfile": {
            "type": "boolean"
          },
          "canViewPrivateDetails": {
            "type": "boolean"
          },
          "isViewingPrivateDetails": {
            "type": "boolean"
          },
          "canManageOwnVideos": {
            "type": "boolean"
          },
          "canManageOthersVideos": {
            "type": "boolean"
          }
        }
      },
      "RunDungeonSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "short_name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "expansion_id": {
            "type": "integer"
          },
          "icon_url": {
            "type": "string"
          },
          "keystone_timer_ms": {
            "type": "integer"
          },
          "map_challenge_mode_id": {
            "type": "integer"
          },
          "num_bosses": {
            "type": "integer"
          },
          "patch": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "wowInstanceId": {
            "type": "integer"
          },
          "group_finder_activity_ids": {
            "$ref": "#/components/schemas/group_finder_activity_ids"
          }
        }
      },
      "RunAffix": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "icon": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          }
        }
      },
      "weekly_modifiers1": {
        "type": "array",
        "description": "Active affixes",
        "items": {
          "$ref": "#/components/schemas/RunAffix"
        },
        "properties": null
      },
      "platoon": {
        "type": "object",
        "description": "Platoon info if applicable",
        "nullable": true,
        "properties": null
      },
      "spec3": {
        "type": "object",
        "properties": {
          "id": {
            "type": "number"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "role": {
            "type": "string"
          }
        }
      },
      "character2": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "persona_id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "class": {
            "$ref": "#/components/schemas/class"
          },
          "spec": {
            "$ref": "#/components/schemas/spec3"
          },
          "race": {
            "$ref": "#/components/schemas/race"
          },
          "faction": {
            "type": "string"
          },
          "level": {
            "type": "integer"
          },
          "realm": {
            "$ref": "#/components/schemas/FullRealm"
          },
          "region": {
            "$ref": "#/components/schemas/RegionSummary"
          },
          "path": {
            "type": "string"
          },
          "stream": {
            "$ref": "#/components/schemas/Stream"
          },
          "recruitmentProfiles": {
            "$ref": "#/components/schemas/recruitmentProfiles"
          },
          "flags": {
            "$ref": "#/components/schemas/flags"
          }
        }
      },
      "RunsRosterMember": {
        "type": "object",
        "properties": {
          "character": {
            "$ref": "#/components/schemas/character2"
          },
          "role": {
            "type": "string"
          },
          "oldCharacter": {
            "$ref": "#/components/schemas/oldCharacter"
          },
          "isTransfer": {
            "type": "boolean"
          },
          "isBanned": {
            "type": "boolean"
          }
        }
      },
      "roster2": {
        "type": "array",
        "description": "Run roster",
        "items": {
          "$ref": "#/components/schemas/RunsRosterMember"
        },
        "properties": null
      },
      "RankedRunDetail": {
        "type": "object",
        "properties": {
          "season": {
            "type": "string",
            "description": "Season slug"
          },
          "status": {
            "type": "string",
            "description": "Run status"
          },
          "dungeon": {
            "$ref": "#/components/schemas/RunDungeonSummary"
          },
          "keystone_run_id": {
            "type": "integer",
            "description": "Unique run ID"
          },
          "mythic_level": {
            "type": "integer",
            "description": "Keystone level"
          },
          "clear_time_ms": {
            "type": "integer",
            "description": "Clear time in ms"
          },
          "keystone_time_ms": {
            "type": "integer",
            "description": "Timer for the dungeon in ms"
          },
          "completed_at": {
            "type": "string",
            "description": "When the run was completed",
            "x-format": {
              "isoDate": true
            }
          },
          "deleted_at": {
            "type": "string",
            "nullable": true,
            "x-format": {
              "isoDate": true
            }
          },
          "num_chests": {
            "type": "integer",
            "description": "Number of upgrades earned"
          },
          "time_remaining_ms": {
            "type": "integer",
            "description": "Time remaining in ms"
          },
          "faction": {
            "type": "string",
            "description": "Faction of the group"
          },
          "weekly_modifiers": {
            "$ref": "#/components/schemas/weekly_modifiers1"
          },
          "num_modifiers_active": {
            "type": "integer"
          },
          "keystone_team_id": {
            "type": "integer",
            "nullable": true
          },
          "keystone_platoon_id": {
            "type": "integer",
            "nullable": true
          },
          "logged_run_id": {
            "type": "integer",
            "nullable": true
          },
          "platoon": {
            "$ref": "#/components/schemas/platoon"
          },
          "videos": {
            "$ref": "#/components/schemas/videos"
          },
          "roster": {
            "$ref": "#/components/schemas/roster2"
          }
        }
      },
      "RankedRun": {
        "type": "object",
        "properties": {
          "rank": {
            "type": "integer",
            "description": "Rank position"
          },
          "score": {
            "type": "number",
            "description": "Score for the run"
          },
          "run": {
            "$ref": "#/components/schemas/RankedRunDetail"
          }
        }
      },
      "rankings": {
        "type": "array",
        "description": "List of ranked runs",
        "items": {
          "$ref": "#/components/schemas/RankedRun"
        },
        "properties": null
      },
      "params": {
        "type": "object",
        "description": "Echo of the query parameters used",
        "properties": {
          "season": {
            "type": "string"
          },
          "region": {
            "type": "string"
          },
          "dungeon": {
            "type": "string"
          },
          "access_key": {
            "type": "string"
          },
          "page": {
            "type": "integer"
          }
        }
      },
      "ViewMythicPlusRunsResponse": {
        "type": "object",
        "properties": {
          "rankings": {
            "$ref": "#/components/schemas/rankings"
          },
          "leaderboard_url": {
            "type": "string",
            "description": "URL to the leaderboard on Raider.IO",
            "x-format": {
              "uri": true
            }
          },
          "params": {
            "$ref": "#/components/schemas/params"
          }
        }
      },
      "rgbFloat": {
        "type": "array",
        "description": "RGB color as float values [0-1]",
        "example": [
          1,
          0.5,
          0
        ],
        "x-constraint": {
          "length": 3
        },
        "items": {
          "type": "number"
        },
        "properties": null
      },
      "rgbInteger": {
        "type": "array",
        "description": "RGB color as integer values [0-255]",
        "example": [
          255,
          128,
          0
        ],
        "x-constraint": {
          "length": 3
        },
        "items": {
          "type": "integer"
        },
        "properties": null
      },
      "ScoreTier": {
        "type": "object",
        "properties": {
          "score": {
            "type": "number",
            "description": "Minimum score for this color tier",
            "example": 3400
          },
          "rgbHex": {
            "type": "string",
            "description": "Hex color code for this tier",
            "example": "#ff8000"
          },
          "rgbDecimal": {
            "type": "integer",
            "description": "Decimal representation of the color",
            "example": 16744448
          },
          "rgbFloat": {
            "$ref": "#/components/schemas/rgbFloat"
          },
          "rgbInteger": {
            "$ref": "#/components/schemas/rgbInteger"
          }
        },
        "required": [
          "score",
          "rgbHex",
          "rgbDecimal",
          "rgbFloat",
          "rgbInteger"
        ]
      },
      "ViewScoreTiersResponse": {
        "type": "array",
        "description": "Score tiers sorted from highest to lowest score",
        "items": {
          "$ref": "#/components/schemas/ScoreTier"
        },
        "properties": null
      },
      "CutoffFactionQuantile": {
        "type": "object",
        "description": "Horde faction cutoff",
        "nullable": true,
        "properties": {
          "quantile": {
            "type": "number"
          },
          "quantileMinValue": {
            "type": "number"
          },
          "quantilePopulationCount": {
            "type": "integer"
          },
          "quantilePopulationFraction": {
            "type": "number"
          },
          "totalPopulationCount": {
            "type": "integer"
          }
        }
      },
      "CutoffFactionQuantile1": {
        "type": "object",
        "description": "Alliance faction cutoff",
        "nullable": true,
        "properties": {
          "quantile": {
            "type": "number"
          },
          "quantileMinValue": {
            "type": "number"
          },
          "quantilePopulationCount": {
            "type": "integer"
          },
          "quantilePopulationFraction": {
            "type": "number"
          },
          "totalPopulationCount": {
            "type": "integer"
          }
        }
      },
      "CutoffFactionQuantile2": {
        "type": "object",
        "description": "Combined faction cutoff",
        "nullable": true,
        "properties": {
          "quantile": {
            "type": "number"
          },
          "quantileMinValue": {
            "type": "number"
          },
          "quantilePopulationCount": {
            "type": "integer"
          },
          "quantilePopulationFraction": {
            "type": "number"
          },
          "totalPopulationCount": {
            "type": "integer"
          }
        }
      },
      "CutoffQuantile": {
        "type": "object",
        "description": "99.9th percentile cutoff",
        "properties": {
          "score": {
            "type": "number",
            "description": "Score cutoff value"
          },
          "horde": {
            "$ref": "#/components/schemas/CutoffFactionQuantile"
          },
          "hordeColor": {
            "type": "string",
            "description": "Hex color for horde score",
            "nullable": true
          },
          "alliance": {
            "$ref": "#/components/schemas/CutoffFactionQuantile1"
          },
          "allianceColor": {
            "type": "string",
            "description": "Hex color for alliance score",
            "nullable": true
          },
          "all": {
            "$ref": "#/components/schemas/CutoffFactionQuantile2"
          },
          "allColor": {
            "type": "string",
            "description": "Hex color for combined score",
            "nullable": true
          }
        }
      },
      "CutoffQuantile1": {
        "type": "object",
        "description": "99th percentile cutoff",
        "properties": {
          "score": {
            "type": "number",
            "description": "Score cutoff value"
          },
          "horde": {
            "$ref": "#/components/schemas/CutoffFactionQuantile"
          },
          "hordeColor": {
            "type": "string",
            "description": "Hex color for horde score",
            "nullable": true
          },
          "alliance": {
            "$ref": "#/components/schemas/CutoffFactionQuantile1"
          },
          "allianceColor": {
            "type": "string",
            "description": "Hex color for alliance score",
            "nullable": true
          },
          "all": {
            "$ref": "#/components/schemas/CutoffFactionQuantile2"
          },
          "allColor": {
            "type": "string",
            "description": "Hex color for combined score",
            "nullable": true
          }
        }
      },
      "CutoffQuantile2": {
        "type": "object",
        "description": "90th percentile cutoff",
        "properties": {
          "score": {
            "type": "number",
            "description": "Score cutoff value"
          },
          "horde": {
            "$ref": "#/components/schemas/CutoffFactionQuantile"
          },
          "hordeColor": {
            "type": "string",
            "description": "Hex color for horde score",
            "nullable": true
          },
          "alliance": {
            "$ref": "#/components/schemas/CutoffFactionQuantile1"
          },
          "allianceColor": {
            "type": "string",
            "description": "Hex color for alliance score",
            "nullable": true
          },
          "all": {
            "$ref": "#/components/schemas/CutoffFactionQuantile2"
          },
          "allColor": {
            "type": "string",
            "description": "Hex color for combined score",
            "nullable": true
          }
        }
      },
      "CutoffQuantile3": {
        "type": "object",
        "description": "75th percentile cutoff",
        "properties": {
          "score": {
            "type": "number",
            "description": "Score cutoff value"
          },
          "horde": {
            "$ref": "#/components/schemas/CutoffFactionQuantile"
          },
          "hordeColor": {
            "type": "string",
            "description": "Hex color for horde score",
            "nullable": true
          },
          "alliance": {
            "$ref": "#/components/schemas/CutoffFactionQuantile1"
          },
          "allianceColor": {
            "type": "string",
            "description": "Hex color for alliance score",
            "nullable": true
          },
          "all": {
            "$ref": "#/components/schemas/CutoffFactionQuantile2"
          },
          "allColor": {
            "type": "string",
            "description": "Hex color for combined score",
            "nullable": true
          }
        }
      },
      "CutoffQuantile4": {
        "type": "object",
        "description": "60th percentile cutoff",
        "properties": {
          "score": {
            "type": "number",
            "description": "Score cutoff value"
          },
          "horde": {
            "$ref": "#/components/schemas/CutoffFactionQuantile"
          },
          "hordeColor": {
            "type": "string",
            "description": "Hex color for horde score",
            "nullable": true
          },
          "alliance": {
            "$ref": "#/components/schemas/CutoffFactionQuantile1"
          },
          "allianceColor": {
            "type": "string",
            "description": "Hex color for alliance score",
            "nullable": true
          },
          "all": {
            "$ref": "#/components/schemas/CutoffFactionQuantile2"
          },
          "allColor": {
            "type": "string",
            "description": "Hex color for combined score",
            "nullable": true
          }
        }
      },
      "CutoffQuantile5": {
        "type": "object",
        "description": "Keystone Legend cutoff",
        "nullable": true,
        "properties": {
          "score": {
            "type": "number",
            "description": "Score cutoff value"
          },
          "horde": {
            "$ref": "#/components/schemas/CutoffFactionQuantile"
          },
          "hordeColor": {
[...]
