{"openapi":"3.0.1","info":{"title":"Raider.IO Developer API","description":"Raider.IO provides detailed character and guild rankings for Raiding and Mythic+ content. If you run into problems using our API, or have any feedback for us then please reach out to us on Discord https://discord.gg/raider channel #api-discussions.\n\nWe'd appreciate getting linked back from any integrations with this API, and we're always interested in hearing what people are building, so join us in Discord and let us know!\n\nRequests from unauthenticated applications to this API are limited to 300 requests per minute. To unlock higher request rates you must register your application with RaiderIO here: https://raider.io/settings/apps\n\nFor commercial use, please contact us below:","contact":{"name":"Raider.IO","url":"https://support.raider.io","email":"hello@raider.io"},"version":"0.62.5"},"servers":[{"url":"https://raider.io"}],"tags":[{"name":"mythic_plus","description":"Mythic Plus APIs"},{"name":"character","description":"Character APIs"},{"name":"guild","description":"Guild APIs"},{"name":"raiding","description":"Raiding APIs"}],"paths":{"/api/v1/periods":{"get":{"tags":["general"],"summary":"Retrieve the current, previous, and next period ids and date ranges","operationId":"getApiV1Periods","parameters":[{"name":"access_key","in":"query","description":"The API key from your RaiderIO App: http://raider.io/settings/apps. Apps with API keys have higher rate limits.","schema":{"type":"string"}}],"responses":{"default":{"description":"Successful","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/v1/characters/profile":{"get":{"tags":["character"],"summary":"Retrieve information about a character.","operationId":"getApiV1CharactersProfile","parameters":[{"name":"access_key","in":"query","description":"The API key from your RaiderIO App: http://raider.io/settings/apps. Apps with API keys have higher rate limits.","schema":{"type":"string"}},{"name":"region","in":"query","description":"Name of region to look up character in. Can be one of: us, eu, kr, tw","required":true,"schema":{"type":"string","enum":["us","eu","tw","kr","cn"],"x-convert":{"case":"lower","trim":true}},"x-convert":{"case":"lower","trim":true}},{"name":"realm","in":"query","description":"Name of realm that character is on. This can be in slug or title format, e.g. \"Altar of Storms\" or \"altar-of-storms\"","required":true,"schema":{"type":"string","x-convert":{"trim":true}},"x-convert":{"trim":true}},{"name":"name","in":"query","description":"Name of the character to look up. This is not case sensitive.","required":true,"schema":{"pattern":"^[^\\!\\@\\#\\$\\%\\^\\&\\*\\(\\)\\?\\>\\<\\;\\:]+$","type":"string","x-convert":{"trim":true}},"x-convert":{"trim":true}},{"name":"fields","in":"query","description":"Comma separated list of fields to retrieve for this character.\n\nGeneral fields:\n-  <b>gear</b>: retrieve high level item information for player\n-  <b>talents</b>: retrieve talent and loadout information for player\n-  <b>talents:categorized</b>: retrieve talent and loadout information for player, separated into class and spec talents\n-  <b>guild</b>: retrieve basic information about guild the player is in\n-  <b>covenant</b>: retrieve the covenant and renown level of the player\n\nRaiding fields:\n-  <b>raid_progression</b>: retrieve raid progression data for character. Defaults to Current Expansion. Can add one or more parameters to request specific raids. e.g.: raid_progression:9 would return all of Dragonflight, or raid_progression:nerubar-palace would return just Nerubar Palace. You can also specify :current-expansion, :previous-expansion, :current-tier, or :previous-tier. See the raiding/static-data endpoint for slugs, and expansion ids.\n\nMythic Plus fields:\n-  <b>mythic_plus_scores_by_season</b>: retrieve scores by mythic plus season. You can specify one or more season by appending multiple ':<season-slug>' values to this field. You can also use the alias 'current' and 'previous' instead of a season name to request that relative season. For example: mythic_plus_scores_by_season:current will request the current season using mythic_plus_scores_by_season:season-tww-1:season-df-4 will return both seasons. Not specifying a season will default to the current season. Note: Results are returned in an array that matches the order of the seasons in the request.\n-  <b>mythic_plus_ranks</b>: retrieve current season mythic plus rankings for player.\n-  <b>mythic_plus_recent_runs</b>: retrieve ten most recent mythic plus runs for player (current season only).\n-  <b>mythic_plus_best_runs</b>: retrieve ten most high scoring mythic plus runs for player (current season only). Specify the paramater :all to retrieve all of a character's best runs for the season.\n-  <b>mythic_plus_alternate_runs</b>: retrieve ten most high scoring mythic plus alternate runs for player (current season only). Specify the paramater :all to retrieve all of a character's alternate runs for the season. This is available starting Shadowlands Season 1 Post.\n-  <b>mythic_plus_highest_level_runs</b>: retrieve the player's ten highest Mythic+ runs by Mythic+ level (current season only)\n-  <b>mythic_plus_weekly_highest_level_runs</b>: retrieve the player's ten highest Mythic+ runs by Mythic+ level for the current raid week (current season only)\n-  <b>mythic_plus_previous_weekly_highest_level_runs</b>: retrieve the player's ten highest Mythic+ runs by Mythic+ level for the previous raid week (current season only)\n-  <b>previous_mythic_plus_ranks</b>: retrieve mythic plus rankings for player.\n\nOther fields:\n-  <b>raid_achievement_meta</b>: retrieve raid achievement meta status for a player. This request requires that you specify parameters for the specific tiers you're looking for. For example if you add ':tier21' to the field you will get the status of Tier 21's meta. Multiple tiers can be added to a single request: ':tier21:tier20:tier19'.\n-  <b>raid_achievement_curve</b>: retrieve AOTC/Cutting Edge achievement status for a given raid slug (or multiple). Multiple slugs can be specified by separating them by colons.\n","schema":{"type":"string","x-convert":{"trim":true}},"x-convert":{"trim":true}}],"responses":{"200":{"description":"Successful","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Model4"}}}}}}},"/api/v1/guilds/boss-kill":{"get":{"tags":["guild"],"summary":"Retrieve information about a guild boss kill.","operationId":"getApiV1GuildsBosskill","parameters":[{"name":"access_key","in":"query","description":"The API key from your RaiderIO App: http://raider.io/settings/apps. Apps with API keys have higher rate limits.","schema":{"type":"string"}},{"name":"region","in":"query","description":"Name of region to look up guild in. Can be one of: us, eu, kr, tw","required":true,"schema":{"type":"string","enum":["us","eu","tw","kr","cn"],"x-convert":{"case":"lower","trim":true}},"x-convert":{"case":"lower","trim":true}},{"name":"realm","in":"query","description":"Name of realm that guild is on. This can be in slug or title format, e.g. \"Altar of Storms\" or \"altar-of-storms\"","required":true,"schema":{"type":"string","x-convert":{"trim":true}},"x-convert":{"trim":true}},{"name":"guild","in":"query","description":"Name of the guild to look up. This is not case sensitive.","required":true,"schema":{"pattern":"^[^\\!\\@\\#\\$\\%\\^\\&\\*\\?\\>\\<\\;\\:]+$","type":"string","x-convert":{"trim":true}},"x-convert":{"trim":true}},{"name":"raid","in":"query","description":"Raid slug to look up","required":true,"schema":{"type":"string","enum":["manaforge-omega","liberation-of-undermine","nerubar-palace","blackrock-depths","awakened-amirdrassil-the-dreams-hope","awakened-aberrus-the-shadowed-crucible","awakened-vault-of-the-incarnates","amirdrassil-the-dreams-hope","aberrus-the-shadowed-crucible","vault-of-the-incarnates","fated-sepulcher-of-the-first-ones","fated-sanctum-of-domination","fated-castle-nathria","sepulcher-of-the-first-ones","sanctum-of-domination","castle-nathria","nyalotha-the-waking-city","the-eternal-palace","crucible-of-storms","battle-of-dazaralor","uldir","antorus-the-burning-throne","tomb-of-sargeras","the-nighthold","trial-of-valor","the-emerald-nightmare"],"x-convert":{"trim":true}},"x-convert":{"trim":true}},{"name":"boss","in":"query","description":"Boss slug to look up","required":true,"schema":{"pattern":"^[\\w-]+$","type":"string","x-convert":{"trim":true}},"x-convert":{"trim":true}},{"name":"difficulty","in":"query","description":"Raid difficulty to look up","required":true,"schema":{"type":"string","enum":["mythic","heroic","normal"],"x-convert":{"case":"lower","trim":true}},"x-convert":{"case":"lower","trim":true}}],"responses":{"default":{"description":"Successful","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/v1/guilds/profile":{"get":{"tags":["guild"],"summary":"Retrieve information about a guild.","operationId":"getApiV1GuildsProfile","parameters":[{"name":"access_key","in":"query","description":"The API key from your RaiderIO App: http://raider.io/settings/apps. Apps with API keys have higher rate limits.","schema":{"type":"string"}},{"name":"region","in":"query","description":"Name of region to look up guild in. Can be one of: us, eu, kr, tw","required":true,"schema":{"type":"string","enum":["us","eu","tw","kr","cn"],"x-convert":{"case":"lower","trim":true}},"x-convert":{"case":"lower","trim":true}},{"name":"realm","in":"query","description":"Name of realm that guild is on. This can be in slug or title format, e.g. \"Altar of Storms\" or \"altar-of-storms\"","required":true,"schema":{"type":"string","x-convert":{"trim":true}},"x-convert":{"trim":true}},{"name":"name","in":"query","description":"Name of the guild to look up. This is not case sensitive.","required":true,"schema":{"pattern":"^[^\\!\\@\\#\\$\\%\\^\\&\\*\\?\\>\\<\\;\\:]+$","type":"string","x-convert":{"trim":true}},"x-convert":{"trim":true}},{"name":"fields","in":"query","description":"Comma separated list of fields to retrieve for this guild.\n\nSupported values:\n-  <b>raid_progression</b>: retrieve raid progression data for guild. This can optionally take parameters to control\n   what raids you are getting data for. These parameters can be numeric expansion IDs, specific raid slugs, or the\n   terms \"current-expansion\", \"previous-expansion\", \"current-tier\", or \"previous-tier\".\n-  <b>raid_rankings</b>: retrieve raid rankings data for guild. This can optionally take parameters to control\n   what raids you are getting data for. These parameters can be numeric expansion IDs, specific raid slugs, or the\n   terms \"current-expansion\", \"previous-expansion\", \"current-tier\", or \"previous-tier\".\n-  <b>raid_encounters:RAID_SLUG:DIFFICULTY</b>: retrieve details on which encounters were defeated from a specific raid and difficulty\n-  <b>members</b>: retrieve guild members details\n","schema":{"type":"string","x-convert":{"trim":true}},"x-convert":{"trim":true}}],"responses":{"200":{"description":"Successful","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Model5"}}}}}}},"/api/v1/mythic-plus/affixes":{"get":{"tags":["mythic_plus"],"summary":"Retrieve the affixes for a specific region, including the latest run seen with this affix","operationId":"getApiV1MythicplusAffixes","parameters":[{"name":"access_key","in":"query","description":"The API key from your RaiderIO App: http://raider.io/settings/apps. Apps with API keys have higher rate limits.","schema":{"type":"string"}},{"name":"region","in":"query","description":"Name of region to look up affixes for. Can be one of: us, eu, kr, tw","required":true,"schema":{"type":"string","enum":["us","eu","tw","kr","cn"],"x-convert":{"case":"lower","trim":true}},"x-convert":{"case":"lower","trim":true}},{"name":"locale","in":"query","description":"Language to return name and description of affixes in. Can be one of: en, ru, ko, cn, pt, it, fr, es, de, tw","schema":{"type":"string","default":"en","enum":["en","ru","ko","cn","pt","it","fr","es","de","tw"],"x-convert":{"trim":true}},"x-convert":{"trim":true}}],"responses":{"200":{"description":"Successful","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Model7"}}}}}}},"/api/v1/mythic-plus/leaderboard-capacity":{"get":{"tags":["mythic_plus"],"summary":"Retrieve the leaderboard capacity for a region including lowest level and time to qualify","operationId":"getApiV1MythicplusLeaderboardcapacity","parameters":[{"name":"access_key","in":"query","description":"The API key from your RaiderIO App: http://raider.io/settings/apps. Apps with API keys have higher rate limits.","schema":{"type":"string"}},{"name":"scope","in":"query","description":"Retrieve the capacity info for the current or previous week. Supported values: <b>current</b> and <b>previous</b>.","schema":{"type":"string","default":"current","enum":["current","previous"],"x-convert":{"trim":true}},"x-convert":{"trim":true}},{"name":"region","in":"query","description":"Name of region to retrieve runs for. Can be one of: world, us, eu, kr, tw","required":true,"schema":{"type":"string","enum":["us","eu","tw","kr","cn"],"x-convert":{"case":"lower","trim":true}},"x-convert":{"case":"lower","trim":true}},{"name":"realm","in":"query","schema":{"type":"string","x-convert":{"trim":true}},"x-convert":{"trim":true}}],"responses":{"default":{"description":"Successful","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/v1/mythic-plus/run-details":{"get":{"tags":["mythic_plus"],"summary":"Retrieve details for a specific Mythic+ run","operationId":"getApiV1MythicplusRundetails","parameters":[{"name":"access_key","in":"query","description":"The API key from your RaiderIO App: http://raider.io/settings/apps. Apps with API keys have higher rate limits.","schema":{"type":"string"}},{"name":"season","in":"query","description":"Name of the season to retrieve (season-tww-3, etc.). Defaults to current season.","required":true,"schema":{"type":"string","x-convert":{"trim":true}},"x-convert":{"trim":true}},{"name":"id","in":"query","description":"ID of the run that you want to get details for","required":true,"schema":{"type":"integer"}}],"responses":{"default":{"description":"Successful","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/v1/mythic-plus/runs":{"get":{"tags":["mythic_plus"],"summary":"Retrieve information about the top runs that match the given criteria","operationId":"getApiV1MythicplusRuns","parameters":[{"name":"access_key","in":"query","description":"The API key from your RaiderIO App: http://raider.io/settings/apps. Apps with API keys have higher rate limits.","schema":{"type":"string"}},{"name":"season","in":"query","description":"Name of season to request data for","schema":{"type":"string","default":"season-tww-3","x-convert":{"trim":true}},"x-convert":{"trim":true}},{"name":"region","in":"query","description":"Name of region to retrieve runs for. Can be one of: world, us, eu, kr, tw","schema":{"type":"string","default":"world","enum":["us","eu","tw","kr","cn","world"],"x-convert":{"case":"lower","trim":true}},"x-convert":{"case":"lower","trim":true}},{"name":"dungeon","in":"query","description":"Name of dungeon to filter by. This can be the dungeon's full name \"Eye of Azshara\" or its slug \"eye-of-azshara\". Use special keyword \"all\" to get the stats across all dungeons.","schema":{"type":"string","default":"all","x-convert":{"trim":true}},"x-convert":{"trim":true}},{"name":"affixes","in":"query","description":"Name of the affixes to restrict the results to. This will support affix in slug form: \"bolstering-explosive-tyrannical\". Additionally, you can supply just \"tyrannical\" or \"fortified\" to get the results for any affix combo with that as the final affix. Use the special keyword \"current\" to return the result for the current week's affixes, or \"all\" to retrieve results for all affixes.","schema":{"type":"string","x-convert":{"trim":true}},"x-convert":{"trim":true}},{"name":"page","in":"query","description":"Page of results to return. Limited to 100 pages by default, can be increased with access key to 1000.","schema":{"maximum":1000,"minimum":0,"type":"integer","default":0}}],"responses":{"default":{"description":"Successful","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/v1/mythic-plus/score-tiers":{"get":{"tags":["mythic_plus"],"summary":"Retrieve the colors used for score tiers in the given season.","operationId":"getApiV1MythicplusScoretiers","parameters":[{"name":"access_key","in":"query","description":"The API key from your RaiderIO App: http://raider.io/settings/apps. Apps with API keys have higher rate limits.","schema":{"type":"string"}},{"name":"season","in":"query","description":"Name of the season to retrieve (season-tww-3, etc.). Defaults to current season.","schema":{"type":"string","x-convert":{"trim":true}},"x-convert":{"trim":true}}],"responses":{"default":{"description":"Successful","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/v1/mythic-plus/season-cutoffs":{"get":{"tags":["mythic_plus"],"summary":"Retrieve the Mythic+ Season cutoffs for a region","operationId":"getApiV1MythicplusSeasoncutoffs","parameters":[{"name":"access_key","in":"query","description":"The API key from your RaiderIO App: http://raider.io/settings/apps. Apps with API keys have higher rate limits.","schema":{"type":"string"}},{"name":"season","in":"query","description":"Season to retrieve cutoffs for","schema":{"type":"string","x-convert":{"trim":true}},"x-convert":{"trim":true}},{"name":"region","in":"query","description":"Region to receive cutoffs for","required":true,"schema":{"type":"string","enum":["us","eu","tw","kr","cn"],"x-convert":{"case":"lower","trim":true}},"x-convert":{"case":"lower","trim":true}}],"responses":{"default":{"description":"Successful","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/v1/mythic-plus/static-data":{"get":{"tags":["mythic_plus"],"summary":"Retrieve mythic plus season and dungeon static data for a specific expansion (slugs, names, etc.)","operationId":"getApiV1MythicplusStaticdata","parameters":[{"name":"access_key","in":"query","description":"The API key from your RaiderIO App: http://raider.io/settings/apps. Apps with API keys have higher rate limits.","schema":{"type":"string"}},{"name":"expansion_id","in":"query","description":"Expansion ID to get slugs for. 10 = The War Within, 9 = Dragonflight, 8 = Shadowlands, 7 = Battle for Azeroth, 6 = Legion","required":true,"schema":{"type":"integer"}}],"responses":{"default":{"description":"Successful","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/v1/raiding/boss-rankings":{"get":{"tags":["raiding"],"summary":"Retrieve the boss rankings for a given raid and region","operationId":"getApiV1RaidingBossrankings","parameters":[{"name":"access_key","in":"query","description":"The API key from your RaiderIO App: http://raider.io/settings/apps. Apps with API keys have higher rate limits.","schema":{"type":"string"}},{"name":"raid","in":"query","description":"Raid to look up. This can be the raid's full name (\"Manaforge Omega\") or its name in slug form: \"manaforge-omega\"","required":true,"schema":{"type":"string","enum":["manaforge-omega","liberation-of-undermine","nerubar-palace","blackrock-depths","awakened-amirdrassil-the-dreams-hope","awakened-aberrus-the-shadowed-crucible","awakened-vault-of-the-incarnates","amirdrassil-the-dreams-hope","aberrus-the-shadowed-crucible","vault-of-the-incarnates","fated-sepulcher-of-the-first-ones","fated-sanctum-of-domination","fated-castle-nathria","sepulcher-of-the-first-ones","sanctum-of-domination","castle-nathria","nyalotha-the-waking-city","the-eternal-palace","crucible-of-storms","battle-of-dazaralor","uldir","antorus-the-burning-throne","tomb-of-sargeras","the-nighthold","trial-of-valor","the-emerald-nightmare"],"x-convert":{"trim":true}},"x-convert":{"trim":true}},{"name":"boss","in":"query","description":"Slug of boss to look up","required":true,"schema":{"pattern":"^[\\w-]+$","type":"string","x-convert":{"trim":true}},"x-convert":{"trim":true}},{"name":"difficulty","in":"query","description":"One of: mythic, heroic, normal","required":true,"schema":{"type":"string","enum":["mythic","heroic","normal"],"x-convert":{"case":"lower","trim":true}},"x-convert":{"case":"lower","trim":true}},{"name":"region","in":"query","description":"Name of region to restrict progress to. Can be a primary region: world, us, eu, kr, tw. Or a subregion: english, french, german, italian, oceanic, russian, spanish, eu-english, eu-portuguese, eu-spanish, us-english, brazil, us-spanish, us-central, us-eastern, us-mountain, us-pacific","required":true,"schema":{"type":"string","x-convert":{"trim":true}},"x-convert":{"trim":true}},{"name":"realm","in":"query","description":"Name of realm to restrict to. Prefix with `connected-` to retrieve rankings from the connected realm. Requires that region be a standard region: us, eu, kr, tw.","schema":{"type":"string","x-convert":{"trim":true}},"x-convert":{"trim":true}}],"responses":{"default":{"description":"Successful","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/v1/raiding/hall-of-fame":{"get":{"tags":["raiding"],"summary":"Retrieve the hall of fame for a given raid","operationId":"getApiV1RaidingHalloffame","parameters":[{"name":"access_key","in":"query","description":"The API key from your RaiderIO App: http://raider.io/settings/apps. Apps with API keys have higher rate limits.","schema":{"type":"string"}},{"name":"raid","in":"query","description":"Raid to look up. This can be the raid's full name (\"Manaforge Omega\n                \") or its name in slug form: \"manaforge-omega\"","required":true,"schema":{"type":"string","enum":["manaforge-omega","liberation-of-undermine","nerubar-palace","blackrock-depths","awakened-amirdrassil-the-dreams-hope","awakened-aberrus-the-shadowed-crucible","awakened-vault-of-the-incarnates","amirdrassil-the-dreams-hope","aberrus-the-shadowed-crucible","vault-of-the-incarnates","fated-sepulcher-of-the-first-ones","fated-sanctum-of-domination","fated-castle-nathria","sepulcher-of-the-first-ones","sanctum-of-domination","castle-nathria","nyalotha-the-waking-city","the-eternal-palace","crucible-of-storms","battle-of-dazaralor","uldir","antorus-the-burning-throne","tomb-of-sargeras","the-nighthold","trial-of-valor","the-emerald-nightmare"],"x-convert":{"trim":true}},"x-convert":{"trim":true}},{"name":"difficulty","in":"query","required":true,"schema":{"type":"string","enum":["mythic","heroic","normal"],"x-convert":{"case":"lower","trim":true}},"x-convert":{"case":"lower","trim":true}},{"name":"region","in":"query","description":"Name of region to restrict progress to. Can be one of: world, us, eu, kr, tw","required":true,"schema":{"type":"string","enum":["us","eu","tw","kr","cn"],"x-convert":{"case":"lower","trim":true}},"x-convert":{"case":"lower","trim":true}}],"responses":{"default":{"description":"Successful","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/v1/raiding/progression":{"get":{"tags":["raiding"],"summary":"Retrieve details of raiding progression for a raid","operationId":"getApiV1RaidingProgression","parameters":[{"name":"raid","in":"query","description":"Raid to look up. This can be the raid's full name (\"Manaforge Omega\") or its name in slug form: \"manaforge-omega\"","required":true,"schema":{"type":"string","enum":["manaforge-omega","liberation-of-undermine","nerubar-palace","blackrock-depths","awakened-amirdrassil-the-dreams-hope","awakened-aberrus-the-shadowed-crucible","awakened-vault-of-the-incarnates","amirdrassil-the-dreams-hope","aberrus-the-shadowed-crucible","vault-of-the-incarnates","fated-sepulcher-of-the-first-ones","fated-sanctum-of-domination","fated-castle-nathria","sepulcher-of-the-first-ones","sanctum-of-domination","castle-nathria","nyalotha-the-waking-city","the-eternal-palace","crucible-of-storms","battle-of-dazaralor","uldir","antorus-the-burning-throne","tomb-of-sargeras","the-nighthold","trial-of-valor","the-emerald-nightmare"],"x-convert":{"trim":true}},"x-convert":{"trim":true}},{"name":"difficulty","in":"query","required":true,"schema":{"type":"string","enum":["mythic","heroic","normal"],"x-convert":{"case":"lower","trim":true}},"x-convert":{"case":"lower","trim":true}},{"name":"region","in":"query","description":"Name of region to restrict progress to. Can be one of: world, us, eu, kr, tw","required":true,"schema":{"type":"string","enum":["us","eu","tw","kr","cn"],"x-convert":{"case":"lower","trim":true}},"x-convert":{"case":"lower","trim":true}}],"responses":{"200":{"description":"Successful","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Model10"}}}}}}},"/api/v1/raiding/raid-rankings":{"get":{"tags":["raiding"],"summary":"Retrieve the raid rankings for a given raid and region","operationId":"getApiV1RaidingRaidrankings","parameters":[{"name":"access_key","in":"query","description":"The API key from your RaiderIO App: http://raider.io/settings/apps. Apps with API keys have higher rate limits.","schema":{"type":"string"}},{"name":"raid","in":"query","description":"Raid to look up. This can be the raid's full name (\"Manaforge Omega\") or its name in slug form: \"manaforge-omega\"","required":true,"schema":{"type":"string","enum":["manaforge-omega","liberation-of-undermine","nerubar-palace","blackrock-depths","awakened-amirdrassil-the-dreams-hope","awakened-aberrus-the-shadowed-crucible","awakened-vault-of-the-incarnates","amirdrassil-the-dreams-hope","aberrus-the-shadowed-crucible","vault-of-the-incarnates","fated-sepulcher-of-the-first-ones","fated-sanctum-of-domination","fated-castle-nathria","sepulcher-of-the-first-ones","sanctum-of-domination","castle-nathria","nyalotha-the-waking-city","the-eternal-palace","crucible-of-storms","battle-of-dazaralor","uldir","antorus-the-burning-throne","tomb-of-sargeras","the-nighthold","trial-of-valor","the-emerald-nightmare"],"x-convert":{"trim":true}},"x-convert":{"trim":true}},{"name":"difficulty","in":"query","description":"One of: mythic, heroic, normal","required":true,"schema":{"type":"string","enum":["mythic","heroic","normal"],"x-convert":{"case":"lower","trim":true}},"x-convert":{"case":"lower","trim":true}},{"name":"region","in":"query","description":"Name of region to restrict progress to. Can be a primary region: world, us, eu, kr, tw. Or a subregion: english, french, german, italian, oceanic, russian, spanish, eu-english, eu-portuguese, eu-spanish, us-english, brazil, us-spanish, us-central, us-eastern, us-mountain, us-pacific","required":true,"schema":{"type":"string"}},{"name":"realm","in":"query","description":"Name of realm to restrict to. Prefix with `connected-` to retrieve rankings from the connected realm. Requires that region be a standard region: us, eu, kr, tw.","schema":{"type":"string"}},{"name":"guilds","in":"query","description":"Guild IDs of guilds to restrict the results to. Allows filtering to up to 10 different guilds.","schema":{"type":"string","x-convert":{"trim":true}},"x-convert":{"trim":true}},{"name":"limit","in":"query","schema":{"maximum":200,"minimum":1,"type":"integer","default":50}},{"name":"page","in":"query","schema":{"minimum":0,"type":"integer","default":0}}],"responses":{"default":{"description":"Successful","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/v1/raiding/static-data":{"get":{"tags":["raiding"],"summary":"Retrieve raid and boss static data for a specific expansion (slugs, names, etc.)","operationId":"getApiV1RaidingStaticdata","parameters":[{"name":"access_key","in":"query","description":"The API key from your RaiderIO App: http://raider.io/settings/apps. Apps with API keys have higher rate limits.","schema":{"type":"string"}},{"name":"expansion_id","in":"query","description":"Expansion ID to get slugs for. 10 = The War Within, 9 = Dragonflight, 8 = Shadowlands, 7 = Battle for Azeroth, 6 = Legion","required":true,"schema":{"type":"integer"}}],"responses":{"default":{"description":"Successful","content":{"*/*":{"schema":{"type":"string"}}}}}}}},"components":{"schemas":{"faction":{"type":"string","description":"Character's faction","example":"horde","enum":["horde","alliance"]},"region":{"type":"string","description":"Region character belongs to","example":"us","enum":["us","eu","tw","kr","cn"],"x-convert":{"case":"lower","trim":true}},"gear":{"required":["artifact_traits","item_level_equipped","item_level_total"],"type":"object","properties":{"item_level_equipped":{"type":"number","description":"Character's equipped item level"},"item_level_total":{"type":"number","description":"Character's total item level (in bags)"},"artifact_traits":{"type":"number","description":"Character's artifact traits on equipped artifact weapon"}},"x-meta":{"className":"CharacterGearSchema"}},"manaforge-omega":{"required":["expansion_id","heroic_bosses_killed","mythic_bosses_killed","normal_bosses_killed","summary","total_bosses"],"type":"object","properties":{"summary":{"type":"string","description":"Human readable summary of progression:","example":"4/10 H"},"expansion_id":{"type":"integer","description":"Expansion ID for this raid","example":8},"total_bosses":{"minimum":1,"type":"integer","description":"Number of bosses in instance","example":10},"normal_bosses_killed":{"minimum":0,"type":"integer","description":"Number of normal mode bosses killed"},"heroic_bosses_killed":{"minimum":0,"type":"integer","description":"Number of heroic mode bosses killed","example":4},"mythic_bosses_killed":{"minimum":0,"type":"integer","description":"Number of mythic mode bosses killed"}},"x-meta":{"className":"RaidProgressionSchema"}},"raid_progression":{"type":"object","properties":{"manaforge-omega":{"$ref":"#/components/schemas/manaforge-omega"},"liberation-of-undermine":{"$ref":"#/components/schemas/manaforge-omega"},"nerubar-palace":{"$ref":"#/components/schemas/manaforge-omega"},"blackrock-depths":{"$ref":"#/components/schemas/manaforge-omega"},"awakened-amirdrassil-the-dreams-hope":{"$ref":"#/components/schemas/manaforge-omega"},"awakened-aberrus-the-shadowed-crucible":{"$ref":"#/components/schemas/manaforge-omega"},"awakened-vault-of-the-incarnates":{"$ref":"#/components/schemas/manaforge-omega"},"amirdrassil-the-dreams-hope":{"$ref":"#/components/schemas/manaforge-omega"},"aberrus-the-shadowed-crucible":{"$ref":"#/components/schemas/manaforge-omega"},"vault-of-the-incarnates":{"$ref":"#/components/schemas/manaforge-omega"},"fated-sepulcher-of-the-first-ones":{"$ref":"#/components/schemas/manaforge-omega"},"fated-sanctum-of-domination":{"$ref":"#/components/schemas/manaforge-omega"},"fated-castle-nathria":{"$ref":"#/components/schemas/manaforge-omega"},"sepulcher-of-the-first-ones":{"$ref":"#/components/schemas/manaforge-omega"},"sanctum-of-domination":{"$ref":"#/components/schemas/manaforge-omega"},"castle-nathria":{"$ref":"#/components/schemas/manaforge-omega"},"nyalotha-the-waking-city":{"$ref":"#/components/schemas/manaforge-omega"},"the-eternal-palace":{"$ref":"#/components/schemas/manaforge-omega"},"crucible-of-storms":{"$ref":"#/components/schemas/manaforge-omega"},"battle-of-dazaralor":{"$ref":"#/components/schemas/manaforge-omega"},"uldir":{"$ref":"#/components/schemas/manaforge-omega"},"antorus-the-burning-throne":{"$ref":"#/components/schemas/manaforge-omega"},"tomb-of-sargeras":{"$ref":"#/components/schemas/manaforge-omega"},"the-nighthold":{"$ref":"#/components/schemas/manaforge-omega"},"trial-of-valor":{"$ref":"#/components/schemas/manaforge-omega"},"the-emerald-nightmare":{"$ref":"#/components/schemas/manaforge-omega"}},"x-meta":{"className":"OverallRaidProgressionSchema"}},"scores":{"required":["all","dps","healer","spec_0","spec_1","spec_2","spec_3","tank"],"type":"object","properties":{"all":{"type":"number"},"dps":{"type":"number"},"healer":{"type":"number"},"tank":{"type":"number"},"spec_0":{"type":"number"},"spec_1":{"type":"number"},"spec_2":{"type":"number"},"spec_3":{"type":"number"}}},"all":{"required":["color","score"],"type":"object","properties":{"score":{"type":"number"},"color":{"type":"string"}}},"dps":{"required":["color","score"],"type":"object","properties":{"score":{"type":"number"},"color":{"type":"string"}}},"healer":{"required":["color","score"],"type":"object","properties":{"score":{"type":"number"},"color":{"type":"string"}}},"tank":{"required":["color","score"],"type":"object","properties":{"score":{"type":"number"},"color":{"type":"string"}}},"spec_0":{"required":["color","score"],"type":"object","properties":{"score":{"type":"number"},"color":{"type":"string"}}},"spec_1":{"required":["color","score"],"type":"object","properties":{"score":{"type":"number"},"color":{"type":"string"}}},"spec_2":{"required":["color","score"],"type":"object","properties":{"score":{"type":"number"},"color":{"type":"string"}}},"spec_3":{"required":["color","score"],"type":"object","properties":{"score":{"type":"number"},"color":{"type":"string"}}},"segments":{"required":["all","dps","healer","spec_0","spec_1","spec_2","spec_3","tank"],"type":"object","properties":{"all":{"$ref":"#/components/schemas/all"},"dps":{"$ref":"#/components/schemas/dps"},"healer":{"$ref":"#/components/schemas/healer"},"tank":{"$ref":"#/components/schemas/tank"},"spec_0":{"$ref":"#/components/schemas/spec_0"},"spec_1":{"$ref":"#/components/schemas/spec_1"},"spec_2":{"$ref":"#/components/schemas/spec_2"},"spec_3":{"$ref":"#/components/schemas/spec_3"}}},"Model1":{"required":["scores","season","segments"],"type":"object","properties":{"season":{"type":"string"},"scores":{"$ref":"#/components/schemas/scores"},"segments":{"$ref":"#/components/schemas/segments"}},"x-meta":{"className":"MythicPlusScoresBySeasonSchema"}},"mythic_plus_scores_by_season":{"type":"array","description":"Character's Mythic+ scores by season","items":{"$ref":"#/components/schemas/Model1"}},"overall":{"required":["realm","region","world"],"type":"object","properties":{"world":{"type":"integer","description":"World rank","example":799},"region":{"type":"integer","description":"Region rank","example":564},"realm":{"type":"integer","description":"Realm rank","example":20}},"description":"Rank across all classes/roles","x-meta":{"className":"RanksSchema"}},"tank1":{"required":["realm","region","world"],"type":"object","properties":{"world":{"type":"integer","description":"World rank","example":799},"region":{"type":"integer","description":"Region rank","example":564},"realm":{"type":"integer","description":"Realm rank","example":20}},"description":"Rank across tanks from any classes","x-meta":{"className":"RanksSchema"}},"healer1":{"required":["realm","region","world"],"type":"object","properties":{"world":{"type":"integer","description":"World rank","example":799},"region":{"type":"integer","description":"Region rank","example":564},"realm":{"type":"integer","description":"Realm rank","example":20}},"description":"Rank across healers from any classes","x-meta":{"className":"RanksSchema"}},"dps1":{"required":["realm","region","world"],"type":"object","properties":{"world":{"type":"integer","description":"World rank","example":799},"region":{"type":"integer","description":"Region rank","example":564},"realm":{"type":"integer","description":"Realm rank","example":20}},"description":"Rank across DPS from any classes","x-meta":{"className":"RanksSchema"}},"class":{"required":["realm","region","world"],"type":"object","properties":{"world":{"type":"integer","description":"World rank","example":799},"region":{"type":"integer","description":"Region rank","example":564},"realm":{"type":"integer","description":"Realm rank","example":20}},"description":"Rank across all roles from player's class","x-meta":{"className":"RanksSchema"}},"class_tank":{"required":["realm","region","world"],"type":"object","properties":{"world":{"type":"integer","description":"World rank","example":799},"region":{"type":"integer","description":"Region rank","example":564},"realm":{"type":"integer","description":"Realm rank","example":20}},"description":"Rank across tanks from player's class","x-meta":{"className":"RanksSchema"}},"class_healer":{"required":["realm","region","world"],"type":"object","properties":{"world":{"type":"integer","description":"World rank","example":799},"region":{"type":"integer","description":"Region rank","example":564},"realm":{"type":"integer","description":"Realm rank","example":20}},"description":"Rank across healers from player's class","x-meta":{"className":"RanksSchema"}},"class_dps":{"required":["realm","region","world"],"type":"object","properties":{"world":{"type":"integer","description":"World rank","example":799},"region":{"type":"integer","description":"Region rank","example":564},"realm":{"type":"integer","description":"Realm rank","example":20}},"description":"Rank across DPS from player's class","x-meta":{"className":"RanksSchema"}},"mythic_plus_ranks":{"required":["class","class_dps","class_healer","class_tank","dps","healer","overall","tank"],"type":"object","properties":{"overall":{"$ref":"#/components/schemas/overall"},"tank":{"$ref":"#/components/schemas/tank1"},"healer":{"$ref":"#/components/schemas/healer1"},"dps":{"$ref":"#/components/schemas/dps1"},"class":{"$ref":"#/components/schemas/class"},"class_tank":{"$ref":"#/components/schemas/class_tank"},"class_healer":{"$ref":"#/components/schemas/class_healer"},"class_dps":{"$ref":"#/components/schemas/class_dps"}},"description":"Character's current season Mythic+ Ranks across all leaderboards and roles","x-meta":{"className":"MythicPlusRoleRanksSchema"}},"previous_mythic_plus_ranks":{"required":["class","class_dps","class_healer","class_tank","dps","healer","overall","tank"],"type":"object","properties":{"overall":{"$ref":"#/components/schemas/overall"},"tank":{"$ref":"#/components/schemas/tank1"},"healer":{"$ref":"#/components/schemas/healer1"},"dps":{"$ref":"#/components/schemas/dps1"},"class":{"$ref":"#/components/schemas/class"},"class_tank":{"$ref":"#/components/schemas/class_tank"},"class_healer":{"$ref":"#/components/schemas/class_healer"},"class_dps":{"$ref":"#/components/schemas/class_dps"}},"description":"Character's previous season Mythic+ Ranks across all leaderboards and roles","x-meta":{"className":"MythicPlusRoleRanksSchema"}},"Model2":{"required":["description","icon","icon_url","id","name","wowhead_url"],"type":"object","properties":{"id":{"type":"integer","description":"Affix ID","example":148},"name":{"type":"string","description":"Name of the affix","example":"Xal'atath's Bargain: Ascendant"},"description":{"type":"string","description":"Description of the affix","example":"While in combat, Xal'atath rains down orbs of cosmic energy that empower enemies or players."},"icon":{"type":"string","description":"Icon file name for the affix","example":"inv_nullstone_cosmicvoid"},"icon_url":{"type":"string","description":"cdn URL to the wow icon for this affix","example":"https://cdn.raiderio.net/images/wow/icons/large/inv_nullstone_cosmicvoid.jpg"},"wowhead_url":{"type":"string","description":"Wowhead URL for the affix","example":"https://wowhead.com/affix=148","x-format":{"uri":true}}},"x-meta":{"className":"Affix"}},"affixes":{"type":"array","description":"List of affixes applied to this run","items":{"$ref":"#/components/schemas/Model2"}},"Model3":{"required":["affixes","background_image_url","clear_time_ms","completed_at","dungeon","icon_url","keystone_run_id","map_challenge_mode_id","mythic_level","num_keystone_upgrades","par_time_ms","score","short_name","url","zone_expansion_id","zone_id"],"type":"object","properties":{"dungeon":{"type":"string","description":"Friendly name of Dungeon","example":"Mists of Tirna Scithe"},"short_name":{"type":"string","description":"Shortened or abbreviated name of Dungeon","example":"MISTS"},"mythic_level":{"minimum":2,"type":"integer","description":"Mythic+ Level of the run","example":10},"keystone_run_id":{"type":"integer","description":"Unique ID of this run within the specific season","example":16196237},"completed_at":{"type":"string","description":"When this run was completed","format":"date-time","example":"2024-09-22T03:02:51Z"},"clear_time_ms":{"minimum":1,"type":"integer","description":"How long it took to complete the dungeon, in milliseconds","example":1636548},"par_time_ms":{"minimum":1,"type":"integer","description":"The par time for the dungeon, in milliseconds","example":1800999},"num_keystone_upgrades":{"minimum":0,"type":"integer","description":"How many times the keystone used for this dungeon would have been upgraded after completion","example":2},"map_challenge_mode_id":{"type":"integer","description":"The map challenge mode ID for the dungeon","example":375},"zone_id":{"type":"integer","description":"The zone ID for the dungeon","example":13334},"zone_expansion_id":{"type":"integer","description":"The static expansion id for this particular dungeon.","example":8},"icon_url":{"type":"string","description":"URL to the wow icon for this dungeon","example":"https://cdn.raiderio.net/images/wow/icons/large/achievement_dungeon_mistsoftirnascithe.jpg","x-format":{"uri":true}},"background_image_url":{"type":"string","description":"URL to the background image for this dungeon","example":"https://cdn.raiderio.net/images/dungeons/expansion8/base/mists-of-tirna-scithe.jpg","x-format":{"uri":true}},"score":{"type":"number","description":"How many points this run was worth","example":326.6},"url":{"type":"string","description":"URL to this specific run to view roster details","example":"https://raider.io/mythic-plus-runs/season-tww-1/5376417-10-mists-of-tirna-scithe","x-format":{"uri":true}},"affixes":{"$ref":"#/components/schemas/affixes"}},"x-meta":{"className":"KeystoneRun"}},"mythic_plus_recent_runs":{"type":"array","description":"Character's most recent Mythic+ runs from current season","items":{"$ref":"#/components/schemas/Model3"}},"mythic_plus_best_runs":{"type":"array","description":"Character's highest scoring Mythic+ runs from current season","items":{"$ref":"#/components/schemas/Model3"}},"mythic_plus_alternate_runs":{"type":"array","description":"Character's alternate highest scoring Mythic+ runs from current season","items":{"$ref":"#/components/schemas/Model3"}},"Model4":{"required":["achievement_points","active_spec_name","active_spec_role","class","faction","gender","last_crawled_at","name","profile_banner","profile_url","race","realm","region","thumbnail_url"],"type":"object","properties":{"name":{"type":"string","description":"Name of character","example":"Ulsoga","x-convert":{"trim":true}},"race":{"type":"string","description":"Name of character's race","example":"Orc"},"class":{"type":"string","description":"Name of character's class","example":"Warlock"},"active_spec_name":{"type":"string","description":"Name of character's active spec","example":"Affliction"},"active_spec_role":{"type":"string","description":"Name of the role for character's active spec","example":"DPS"},"gender":{"type":"string","description":"Character's gender","example":"female"},"faction":{"$ref":"#/components/schemas/faction"},"achievement_points":{"type":"integer","description":"Character's achievement points","example":23905},"thumbnail_url":{"type":"string","description":"URL for blizzards character's thumbnail","example":"https://render.worldofwarcraft.com/us/character/burning-blade/0/239444992-avatar.jpg?alt=/wow/static/images/2d/avatar/1-0.jpg"},"region":{"$ref":"#/components/schemas/region"},"realm":{"type":"string","description":"Realm character resides on","example":"Skullcrusher"},"last_crawled_at":{"type":"string","description":"When this character was last crawled","format":"date"},"profile_url":{"type":"string","description":"URL for Character's profile on Raider.IO","example":"https://raider.io/characters/us/skullcrusher/Ulsoga","x-format":{"uri":true}},"profile_banner":{"type":"string","description":"RaiderIO Character Banner Profile","example":"classbanner_paladin1"},"use_animated_banner":{"type":"boolean","description":"Animated Character Page Banner","example":false},"gear":{"$ref":"#/components/schemas/gear"},"raid_progression":{"$ref":"#/components/schemas/raid_progression"},"mythic_plus_scores_by_season":{"$ref":"#/components/schemas/mythic_plus_scores_by_season"},"mythic_plus_ranks":{"$ref":"#/components/schemas/mythic_plus_ranks"},"previous_mythic_plus_ranks":{"$ref":"#/components/schemas/previous_mythic_plus_ranks"},"mythic_plus_recent_runs":{"$ref":"#/components/schemas/mythic_plus_recent_runs"},"mythic_plus_best_runs":{"$ref":"#/components/schemas/mythic_plus_best_runs"},"mythic_plus_alternate_runs":{"$ref":"#/components/schemas/mythic_plus_alternate_runs"}},"x-meta":{"className":"ViewCharacterProfileResponse"}},"faction1":{"type":"string","description":"Guild's faction","example":"horde","enum":["horde","alliance"]},"region1":{"type":"string","description":"Region guild belongs to","example":"us","enum":["us","eu","tw","kr","cn"],"x-convert":{"case":"lower","trim":true}},"normal":{"required":["realm","region","world"],"type":"object","properties":{"world":{"type":"integer","description":"World rank","example":799},"region":{"type":"integer","description":"Region rank","example":564},"realm":{"type":"integer","description":"Realm rank","example":20}},"x-meta":{"className":"RanksSchema"}},"manaforge-omega1":{"type":"object","properties":{"normal":{"$ref":"#/components/schemas/normal"},"heroic":{"$ref":"#/components/schemas/normal"},"mythic":{"$ref":"#/components/schemas/normal"}},"x-meta":{"className":"RaidDifficultyRankingsSchema"}},"raid_rankings":{"type":"object","properties":{"manaforge-omega":{"$ref":"#/components/schemas/manaforge-omega1"},"liberation-of-undermine":{"$ref":"#/components/schemas/manaforge-omega1"},"nerubar-palace":{"$ref":"#/components/schemas/manaforge-omega1"},"blackrock-depths":{"$ref":"#/components/schemas/manaforge-omega1"},"awakened-amirdrassil-the-dreams-hope":{"$ref":"#/components/schemas/manaforge-omega1"},"awakened-aberrus-the-shadowed-crucible":{"$ref":"#/components/schemas/manaforge-omega1"},"awakened-vault-of-the-incarnates":{"$ref":"#/components/schemas/manaforge-omega1"},"amirdrassil-the-dreams-hope":{"$ref":"#/components/schemas/manaforge-omega1"},"aberrus-the-shadowed-crucible":{"$ref":"#/components/schemas/manaforge-omega1"},"vault-of-the-incarnates":{"$ref":"#/components/schemas/manaforge-omega1"},"fated-sepulcher-of-the-first-ones":{"$ref":"#/components/schemas/manaforge-omega1"},"fated-sanctum-of-domination":{"$ref":"#/components/schemas/manaforge-omega1"},"fated-castle-nathria":{"$ref":"#/components/schemas/manaforge-omega1"},"sepulcher-of-the-first-ones":{"$ref":"#/components/schemas/manaforge-omega1"},"sanctum-of-domination":{"$ref":"#/components/schemas/manaforge-omega1"},"castle-nathria":{"$ref":"#/components/schemas/manaforge-omega1"},"nyalotha-the-waking-city":{"$ref":"#/components/schemas/manaforge-omega1"},"the-eternal-palace":{"$ref":"#/components/schemas/manaforge-omega1"},"crucible-of-storms":{"$ref":"#/components/schemas/manaforge-omega1"},"battle-of-dazaralor":{"$ref":"#/components/schemas/manaforge-omega1"},"uldir":{"$ref":"#/components/schemas/manaforge-omega1"},"antorus-the-burning-throne":{"$ref":"#/components/schemas/manaforge-omega1"},"tomb-of-sargeras":{"$ref":"#/components/schemas/manaforge-omega1"},"the-nighthold":{"$ref":"#/components/schemas/manaforge-omega1"},"trial-of-valor":{"$ref":"#/components/schemas/manaforge-omega1"},"the-emerald-nightmare":{"$ref":"#/components/schemas/manaforge-omega1"}},"x-meta":{"className":"RaidRankingsSchema"}},"Model5":{"required":["faction","name","profile_url","realm","region"],"type":"object","properties":{"name":{"type":"string","description":"Name of guild","example":"Ludicrous Speed"},"faction":{"$ref":"#/components/schemas/faction1"},"region":{"$ref":"#/components/schemas/region1"},"realm":{"type":"string","description":"Realm guild resides on","example":"Skullcrusher"},"profile_url":{"type":"string","description":"URL for Guild's profile on Raider.IO","example":"https://raider.io/guilds/us/skullcrusher/Ludicrous%20Speed","x-format":{"uri":true}},"raid_rankings":{"$ref":"#/components/schemas/raid_rankings"},"raid_progression":{"$ref":"#/components/schemas/raid_progression"}},"x-meta":{"className":"ViewGuildProfileResponse"}},"region2":{"type":"string","description":"Region that affixes are for","example":"kr","enum":["us","eu","tw","kr","cn"],"x-convert":{"case":"lower","trim":true}},"Model6":{"required":["description","id","name","wowhead_url"],"type":"object","properties":{"id":{"type":"number","description":"Blizzard's ID for this affix","example":7.0},"name":{"type":"string","description":"Friendly name for this affix","example":"Bolstering"},"description":{"type":"string","description":"Description of the effects of this affix","example":"When any non-boss enemy dies, its death cry empowers nearby allies, increasing their maximum health and damage by 20%."},"wowhead_url":{"type":"string","description":"URL to open details on this affix on Wowhead","example":"https://wowhead.com/affix=7","x-format":{"uri":true}},"icon":{"type":"string","description":"Blizzard's Icon for this affix","example":"inv_misc_volatilewater"},"icon_url":{"type":"string","description":"URL to the icon for this affix","example":"https://cdn.raiderio.net/images/wow/icons/large/inv_misc_volatilewater.jpg"}}},"affix_details":{"type":"array","description":"List of details for each active affix","items":{"$ref":"#/components/schemas/Model6"}},"Model7":{"required":["affix_details","leaderboard_url","region","title"],"type":"object","properties":{"region":{"$ref":"#/components/schemas/region2"},"title":{"type":"string","description":"Human readable title for the current affixes","example":"Bolstering, Grievous, Tyrannical"},"leaderboard_url":{"type":"string","example":"https://raider.io/mythic-plus-affix-rankings/all/kr/leaderboards-strict/bolstering-grievous-tyrannical","x-format":{"uri":true}},"recent_run":{"$ref":"#/components/schemas/Model3"},"affix_details":{"$ref":"#/components/schemas/affix_details"}},"x-meta":{"className":"ViewRegionAffixesResponse"}},"faction2":{"type":"string","description":"Faction for this guild","example":"horde","enum":["horde","alliance"]},"realm":{"required":["isConnected","name","slug"],"type":"object","properties":{"name":{"type":"string","description":"Name of the realm","example":"Skullcrusher"},"slug":{"type":"string","description":"Slug for the realm, suitable for putting in URLs","example":"skullcrusher"},"isConnected":{"type":"boolean","description":"Whether the realm is part of a connected realm","example":false}}},"region3":{"required":["name","short_name","slug"],"type":"object","properties":{"name":{"type":"string","description":"Name of the region","example":"United States & Oceania"},"short_name":{"type":"string","description":"Short name of the region","example":"US"},"slug":{"type":"string","description":"Slug for the region, suitable for putting in URLs","example":"us"}}},"guild":{"required":["faction","id","name"],"type":"object","properties":{"id":{"type":"integer","description":"Internal Raider.IO ID number for this guild","example":955},"name":{"type":"string","description":"Name of the guild","example":"Ludicrous Speed"},"faction":{"$ref":"#/components/schemas/faction2"},"realm":{"$ref":"#/components/schemas/realm"},"region":{"$ref":"#/components/schemas/region3"},"displayName":{"type":"string","description":"Display name for the guild"}}},"Model8":{"required":["defeatedAt"],"type":"object","properties":{"defeatedAt":{"type":"string","example":"2017-01-24T17:31:00.000Z"},"guild":{"$ref":"#/components/schemas/guild"}}},"guilds":{"type":"array","items":{"$ref":"#/components/schemas/Model8"}},"Model9":{"required":["progress","totalGuilds"],"type":"object","properties":{"progress":{"minimum":1,"type":"integer","description":"How many bosses out of all bosses in this instance","example":1},"totalGuilds":{"minimum":0,"type":"integer","description":"The number of guilds that are at this point of progression","example":98},"guilds":{"$ref":"#/components/schemas/guilds"}}},"progression":{"type":"array","items":{"$ref":"#/components/schemas/Model9"}},"Model10":{"type":"object","properties":{"progression":{"$ref":"#/components/schemas/progression"}},"x-meta":{"className":"ViewRaidProgressionResponse"}}}},"x-original-swagger-version":"2.0"}
